@import "maxin";

@media print{
  body,html{
	
  }
  .footerLink{
  	display: none;
  }
}


.container{
	padding-left: 50px;
	padding-right: 50px;
	max-width:1366px;
	margin:0 auto;
	@media(max-width:854px){
		padding-left: 30px;
		padding-right: 30px;
	}
}

a:focus{
	box-sizing: border-box;
	outline:3px dashed $linkhovercolor;
	outline-offset: -2px;
}

button:focus,button:active{
	box-sizing: border-box;
	outline: 3px dashed $linkhovercolor;
	outline-offset: -2px;
}
input:focus,input:active{
	box-sizing: border-box;
	outline:3px dashed $linkhovercolor;
	outline-offset: -2px;
}
textarea:focus,textarea:active{
	box-sizing: border-box;
	outline:3px dashed $linkhovercolor;
	outline-offset: -2px;
}
select:focus,select:active{
	box-sizing: border-box;
	outline:3px dashed $linkhovercolor;
	outline-offset: -2px;
}

#main{
	a.go_header{
		font-size: 	0;
		width:10px;
		height:10px;
		display:block;
		&:active,&:focus{
			
			background-color: #bd5700;
		}
	}
	a.go_header_layout{
		font-size: 	0;
		top:25px;
		left:0;
		position:absolute;
		width:10px;
		height:10px;
		display:block;
		&:active,&:focus{	
			background-color:$linkhovercolor;
		}

	}

	
}

.layout{
	@media(max-width: 992px){
		border-top: 10px solid $maincolor;
	}
}

html{
	&.openaside{
		position:fixed;
		width:100%;
	}
}

body{
	
	@include transition(0.5s);

	&.openaside{
		transform: translateX(250px);
		-moz-transform: translateX(250px);
		-webkit-transform: translateX(250px);
		-o-transform: translateX(250px);
		-ms-transform: translateX(250px);
	}
}



.header{
	&__top{
		position:relative;
		h1{
			max-width:420px;
			a{
				display:block;
				padding:10px;
				font-size: 1.8em;
				color:#0B5358;
				font-weight: bold;
				letter-spacing: 0.03em;
				display: flex;
				align-items: center;

			}
			img{
				max-width: 75px;
				margin-right:13px;
			}
			@media(max-width:992px){
				padding-bottom:10px;
			    max-width: 80%;
				width: 80%;
				margin-right:10%;
				margin-left:10%;
				a{
					justify-content: center;
					font-size: 1.6em;
					padding:5px;
				}
			}
			@media(max-width:640px){
				img{
					max-width: 60px;
				}
				a{
					font-size: 1.4em;
				}
			}
			@media(max-width:480px){
				padding-right:20px;
				img{
					max-width: 40px;
				}
				a{
					font-size: 1em;
				}
			}
			@media(max-width:330px){
				max-width: 90%;
				width: 90%;
				margin-right:5%;
				margin-left:5%;
				img{
					max-width: 35px;
				}
				a{
					font-size: 0.9em;
				}
			}
			&.en{
				max-width:460px;
				a{
					font-size: 1.2em;
				}
				
			}

		}
	}
}
.header{
	&__top{
		display: flex;
		padding-top: 20px;
		padding-bottom: 20px;
		justify-content:space-between;
		align-items: center;
		overflow:hidden;

		&__link{
			display: flex;
			flex-direction: column;

			.top{
				display:flex;
				align-items: center;
				padding-right: 20px;
				>*{
					margin: 0 7px;
				}
				a{
					color:#000000;
					font-size: $smallfontsize;
					vertical-align: middle;
					padding: 5px;
					&:hover{
						color:$linkhovercolor;
						text-shadow: 0.02em 0px #bd5700;
					}
				}
			}

		}
		@media(max-width:1280px){
			align-items: center;
		}
		@media(max-width:992px){
			flex-direction: column;
			padding-bottom:0;
			padding-top: 10px;

			&__link{
				align-items: center;
				background-color:$maincolor;
				justify-content: center;
				
				/* text-align: center; */
				width:150%;
				flex-direction: column;
				padding:15px 0;
				display:none;
				.top{
					color:#fff;
					padding-right: 0;
					a{
						color:#fff;
					}
				}
				&.open{
					display: flex;
				}

			}
		}

		.go_main{
			position: absolute;
			left:5px;
			width: 40px;
			text-align: center;
			font-size: 0;
			padding: 3px;
			&:active,&:focus{
				background-color: $maincolor;
				color:#fff;
				font-size: $smallfontsize;
			}
		}
	}

}



.mobile_btn{
	position:absolute;
	right:10px;
	top:40px;
	display:none;
	padding-left: 0;
	@media(max-width:992px){
		display:block;
	}
	@media(max-width:640px){
		right:5px;
		top:35px;
	}
	@media(max-width:480px){
		top:20px;
	}
}




#nav-icon1, #nav-icon2, #nav-icon3, #nav-icon4 {
  width: 30px;
  height: 20px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

/* line 791, ../scss/base.scss */
#nav-icon1 span, #nav-icon3 span, #nav-icon4 span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: $maincolor;
  opacity: 1;
  left: 0;
  border: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

/* line 810, ../scss/base.scss */
#nav-icon4 span:nth-child(1) {
  top: 0px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

/* line 818, ../scss/base.scss */
#nav-icon4 span:nth-child(2) {
  top: 7px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

/* line 826, ../scss/base.scss */
#nav-icon4 span:nth-child(3) {
  top: 14px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

/* line 834, ../scss/base.scss */
#nav-icon4.open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  left: 0px;
  top: 1;
  width: 30px;
}

/* line 844, ../scss/base.scss */
#nav-icon4.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

/* line 850, ../scss/base.scss */
#nav-icon4.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  left: 0px;
  top: 21px;
  width: 30px;
}



.bread{
	display: flex;
	justify-content: space-between;
	position:relative;
	.socialLink{
		padding-top:40px;
		padding-bottom: 20px;
		display: flex;
		a{
			width: 30px;
				height: 30px;
			margin: 0 3px;
			img{
				width: 30px;
				height: 30px;
			}
			
		}
	}
	@media(max-width: 992px){
		flex-direction: column;
		.socialLink{
			padding-top:0px;
			padding-bottom: 40px;
		}
	}
}

.breadcrumb{
	padding-top:40px;
	padding-bottom: 20px;
	li{
		color: $mainfontcolor;
		font-size: $smallfontsize;
		display:inline-block;
		margin-right:5px;
		a{
			color:$mainfontcolor;
			margin-right:5px;
		}
		@media(max-width: 992px){
			font-size: $small2fontsize;
		}
	}
	@media(max-width: 992px){
		padding-top: 20px;
	}

	
}


.mainbody{
	display:flex;
	width:100%;
	position:relative;
	.main{
		padding:20px 0 70px 0;
		flex-grow: 1;
		&--nopd{
			padding:0;
			max-width:100%;
		}

		&--sitemap{
			padding-left:70px;
			padding-right:70px;
			@media(max-width: 640px){
				padding-left:0px;
				padding-right:0px;
			}
		}

		&--en{
			padding:50px 0 70px 0;

		}
		@media(max-width:1280px){
			padding:0 0 70px 0;
			width:100%;
		}
	}


	aside{
		padding-top: 20px;
		width: 290px;
		flex-grow: 0;
		flex-shrink: 0;
		padding-right: 70px;
		@media(max-width:1280px){
			display:none;
		}
	}
}




.aside__tit{
	background-color: $linkhovercolor;
	color:#fff;
	font-size: $mainfontsize;
	text-align: center;
	padding: 8px 0;
}




.mnav{
	padding:0 0 100px 0;
	&__item{
		position:relative;
		width: 100%;
		
		>a{
			color:$mainfontcolor;
			padding: 10px 25px;
			display:block;
			font-size: $middlefontsize;
			border-bottom: 1px solid #ccc;
			width: 100%;
			display: flex;
			align-items: center;
			span{
				background-image: url(../images/open.png);
				position:absolute;
				right:15px;
				width:12px;
				height: 12px;
				background-size: 12px;
				background-repeat: no-repeat;
			}
			&:hover,&:focus,&:active{
				background-color: #F0F0F0;
				color:$linkhovercolor;
			}
		}

		&.open{
			>a{
				color:$linkhovercolor;
				span{
					background-image: url(../images/close.png);
				}
			}
		}
		&.current{
			>a{
				background-color: #F0F0F0;
				color:$linkhovercolor;
			}
		}

		&__list{
			background-color: #fff;
			padding:0 0 0 30px;
			display:none;
			width: 100%;
			li{
				position:relative;
				
				a{
					color:$mainfontcolor;
					padding: 13px 10px;
					display:block;
					font-size: $middlefontsize;
					border-bottom: 1px solid #ccc;
					&:hover,&:focus,&:active{
						background-color: #F0F0F0;
						color:$linkhovercolor;
					}

				}
				&.current{
					a{
						background-color: #F0F0F0;
						color:$linkhovercolor;
					}
				}			
			}
		}
	}
}





.searchbox{
	border:1px solid #666666;
	border-radius: 20px;
	padding:0 9px 1px 13px;
	label{
		font-size: 0;
	}
	input{
		width :120px;
		border: 0;
		font-weight: bold;
		letter-spacing: 0.04em;
		font-size:$smallfontsize;
		height: 30px;
		@media(max-width:992px){
			background-color: $maincolor;
			color:#fff;
			width:220px;
		}

	}
	button{
		color: #cccccc;
		padding:0 3px 0 3px;
	}
	@media(max-width:992px){
		margin-top: 15px;
		border:1px solid #fff;
		background-color: $maincolor;
		color:#fff;
	}
}


.maintit{
	color:$mainfontcolor;
	font-size: $titfontsize;
	font-weight: bold;
	display:flex;
	flex-direction:column;
	align-items: center;
	justify-content:center;
	background-position: top center;
	background-size: 285px;
	background-repeat: no-repeat;
	padding-top: 40px;
	&--news{
		background-image: url('../images/news_tit.png');
	}
	&--link{
		background-image: url('../images/link_tit.png');
	}
	&--en{
		background-image: url('../images/en_tit.png');
		padding-top: 80px;
		margin-bottom:40px;
		@media (max-width: 1280px){
			margin-top:40px;
		}
	}

	@media(max-width:1280px){
		font-size: $mainfontsize;
	}
	&.white{
		color:#fff;
		span{
			color:#fff;
		}
		&:before{
			display:none;
		}
	}
}

.idx{
	padding-top:30px;
	padding-bottom:45px;
}


.mainTitle{
	font-size: $maintitfontsize;
	color:$mainfontcolor;
	border-left:10px solid #2FBBBB;
	padding: 5px 15px;
	@media(max-width: 992px){
		font-size: $subfontsize;
		padding: 5px 10px;
	}
}

.mainContent{
	margin-top:20px;
	@media(max-width: 992px){
		padding: 0 20px;
		&.nopd{
			padding: 0;
		}
	}
}

.mainSearch{
	max-width:300px;
	display:flex;
	padding:10px 0 30px 0;
	&.nopd{
		padding: 0;
	}
	label{
		font-size: 0;
		height:0;
	}
	button{
		background-color: $linkhovercolor;
		color:#fff;
		width:90px;
		margin-left:10px;
		border: 1px solid $linkhovercolor;
		font-size: $smallfontsize;
		@media(max-width: 640px){
			font-size: $small2fontsize;
		}
	}
}

.textcontent{
	font-size: 1.1em;
	color:#333333;
	line-height: 1.7;
	letter-spacing:0.06em;
	margin-bottom:50px;
	>*{
		font-size: 1.1em;
		color:#333333;
		line-height: 1.7;
		letter-spacing:0.06em;
	}
	img{
		max-width: 100%;
		height:auto !important;
		margin:10px 0;
	}
	@media(max-width: 640px){
		font-size: $small2fontsize;
		>*{
			font-size:  $small2fontsize;
		}

	}
}






//--------------------footer-----------------------------//

.footerLink{
	border-top: 10px solid $maincolor;
	.container{
		position:relative;
	}
	&__list{
		width: 100%;
		padding:30px 0 50px 0;
		display: flex;
		&--en{
			justify-content: center;
			text-align: center;
		}

		&__item{
			width: 16.5%;
			padding: 0 15px;
			p{
				color:$linkhovercolor;
				font-size: $middlefontsize;
				font-weight: bold;
				border-bottom: 1px solid #ccc;
				padding: 10px;
				margin-bottom:10px;
			}
			a{
				color:$mainfontcolor;
				font-size: $middle2fontsize;
				padding: 2px 10px;
				width: 100%;
				display: block;
				&:hover,&:focus,&:active{
					background-color: $mainhovercolor;
				}
			}

			@media(max-width: 1280px){
				padding: 0 10px;
			}
			@media(max-width: 992px){
				padding: 0 10px;
				width: 33.3%;
				margin-bottom:50px;
				p{
					font-size: $middle2fontsize;
					padding: 5px;
				}
				a{
					font-size: $smallfontsize;
					padding: 2px 5px;
				}
			}
			@media(max-width: 640px){
				width: 50%;
				p{
					font-size: $smallfontsize;
					padding: 5px;
					text-align: center;
				}
				a{
					font-size: $small2fontsize;
					padding: 2px 5px;
					text-align: center;
				}
			}
		}
		@media(max-width: 992px){
			flex-wrap: wrap;

		}
	}

	.footerBtn{
		position:absolute;
		right:0;
		top:-40px;
		height: 30px;
		padding: 5px 10px;
		background-color: $maincolor;
		color:$mainfontcolor;
		font-size: $smallfontsize;
		font-weight: bold;
		border-top-right-radius: 10px;
		border-top-left-radius: 10px;
	}
}

footer{
	margin-top:40px;
	position:relative;
	.footer{
		background-color: #213540;
		padding: 40px 0;
		color:#fff;
		.container{
			position:relative;
		}
		.gotop{
			position:absolute;
			right:0;
			top:20px;
		}
		a{
			color:#fff;
			font-size: $smallfontsize;
		}
		&__imfo{
			text-align: left;
			p{
				font-size: $smallfontsize;
				line-height: 1.5;
				margin-bottom:5px;
				letter-spacing:0.04em;
				span{
					&:after{
						content: '/';
						display: inline-block;
						padding: 0 5px;
					}
					&:last-child{
						&:after{
							display: none;
						}
					}
				}
			}

		}
		@media(max-width: 992px){
			a{
				font-size: $small2fontsize;
			}
			&__imfo{
				p{
					font-size: $small2fontsize;
					span{
						display: inline-block;
					}
				}

			}
		}
		@media(max-width: 640px){
			text-align: center;
			a{
				font-size: 0.8em;
			}
			&__imfo{
				text-align: center;
				p{
					font-size:  0.8em;

					a{
						font-size:  1em;
					}
					span{
						display: block;
						&:after{
							display: none;
						}
					}
					&.statement{
						margin-top:10px;
					}
				}

			}
		}
	}
	.AA{
		position:absolute;
		right:50px;
		top:0;
		img{
			width: 135px;
		}
		@media(max-width: 854px){
			right:30px;
		}
		@media(max-width: 640px){
			position:relative;
			right:0;
			margin-top:30px;
			text-align: center;
		}
	}
}




//-------------------table----------------------------------//

.mainTable{
	width: 100%;
	tr{
		display: flex;
		padding: 0 20px;
		td,th{
			text-align: center;
			font-size:$middle3fontsize;
			font-weight: normal;
			padding: 0 15px;
			color:$mainfontcolor;
			a{
				display: block;
				padding: 12px 5px;
				color:$mainfontcolor;
				&:hover{
					color:$linkhovercolor;
				}
			}
			span{
				padding: 12px 0;
				display: block;
			}

			&.tb1{
				flex:1;
			}
			&.tb2{
				flex:2;
			}
			&.tb3{
				flex:3;
			}
			&.tb4{
				flex:4;
			}
			&.tb5{
				flex:5;
			}
			&.tb6{
				flex:6;
			}
			&.tb8{
				flex:8;
			}
			&.dl{
				display: flex;
				align-content: center;
				min-width: 200px;
				flex-shrink: 0;
				flex-grow: 0;
				justify-content: center;
				@media(max-width: 1024px){
					min-width: 150px;
				}
			}




			&.left{
				text-align: left;
			}
		}
		
		&:nth-child(odd){
			background-color: #F0F0F0;
		}
		&:nth-child(even){
			background-color: #FFFFFF;
		}
		&:first-child{
			background-color: #AEAEAE;
			color:$mainfontcolor;
		}

		@media(max-width: 992px){
			th,td{
				font-size:$smallfontsize;
			}
		}
		@media(max-width: 854px){
			flex-direction: column;
			padding: 10px 5px;
			td{
				text-align: left;
				display: flex;
				align-items: stretch;
				margin-bottom: 5px;
				word-wrap: break-all;
				font-size:$small2fontsize;
				padding: 0 10px;
				&::before{
					content: attr(data-title);
				    position: relative;
				    flex-shrink: 0;
				    flex-grow: 0;
				    background-color: #AEAEAE;
				    padding: 5px 15px;
				    margin-right: 15px;
				    display: flex;
				    align-items: center;
				    width: 100px;
				}
				span{
					padding: 5px 0;
				}
				a{
					padding: 5px 0;
				}
			}
			&:first-child{
				display: none;
			}
		}
		@media(max-width:640px){
			padding: 10px 5px;
			td{
				padding: 0 5px;
				&::before{
					width: 60px;
				}
			}
		}
	}

	
}




.opcTable{
	width: 100%;
	margin-bottom:50px;
	tr{
		display: flex;
		background-color: #F0F0F0;
		td,th{
			text-align: left;
			font-size:$middle3fontsize;
			font-weight: normal;
			padding: 15px;
			color:$mainfontcolor;
			border-right: 1px solid #fff;
			border-bottom: 1px solid #fff;
			a{
				display: block;
				padding: 12px 5px;
				color:$mainfontcolor;
			}
			span{
				padding: 12px 0;
				display: block;
			}

			&.tb1{
				flex:1;
			}
			&.tb2{
				flex:2;
			}
			&.tb3{
				flex:3;
			}
			&.tb4{
				flex:4;
			}
			&.tb5{
				flex:5;
			}
			&.tb6{
				flex:6;
			}
			&.tb8{
				flex:8;
			}




			&.center{
				display: flex;
				align-items: center;
				justify-content: center;
				text-align: center;
			}
		}

		&:first-child{
			background-color: #AEAEAE;
			color:$mainfontcolor;
		}

		@media(max-width: 992px){
			th,td{
				font-size:$smallfontsize;
			}
		}
		@media(max-width: 854px){
			flex-direction: column;
			padding: 0 ;
			margin-bottom:30px;
			td{
				text-align: left;
				display: flex;
				align-items: stretch;
				word-wrap: break-all;
				font-size:$small2fontsize;
				padding: 0 ;

				&::before{
					content: attr(data-title);
				    position: relative;
				    flex-shrink: 0;
				    flex-grow: 0;
				    background-color: #AEAEAE;
				    padding: 5px 15px;
				    margin-right: 15px;
				    display: flex;
				    align-items: center;
				    width: 50px;
				}
				span{
					padding: 15px 0;
				}
				a{
					padding: 5px 0;
				}
				&.time{
					box-sizing:border-box;
					padding-right:0;
					span{
						display: none;
					}
					&::before{
					    width: 100%;
					    margin: 0;
					    justify-content: center;
					    padding-left:0;
					    padding-right:0;
					    padding-top:15px;
					    padding-bottom:15px;
					}
				}
				&.center{

				}
			}
			&:first-child{
				display: none;
			}
			
		}
		@media(max-width:640px){
			//padding: 10px 5px;
			td{
				//padding: 0 5px;
				&::before{
					width: 45px;
				}
			}
		}
	}

	
}




.infoTable{
	width: 100%;
	margin-bottom:20px;
	tr{
		display: flex;
		padding: 0 20px;
		align-items: center;
		td,th{
			text-align: left;
			font-size:$middle3fontsize;
			font-weight: normal;
			padding: 0 15px;
			color:$mainfontcolor;
			div{
				padding: 18px 0;
			}
			span{
				padding: 18px 0;
				display: block;
			}
			p{
				display: block;
				padding: 3px 5px;
				color:$mainfontcolor;
			}
			a{
				display: block;
				padding: 3px 5px;
				color:#003399;
				text-decoration: underline;
			}
			

			&.tb1{
				flex:1;
			}
			&.tb2{
				flex:2;
			}
			&.tb3{
				flex:3;
			}
			&.tb4{
				flex:4;
			}
			&.tb5{
				flex:5;
			}
			&.tb6{
				flex:6;
			}
			&.tb8{
				flex:8;
			}




			&.center{
				text-align: center;
			}
		}
		
		&:nth-child(odd){
			background-color: #F0F0F0;
		}
		&:nth-child(even){
			background-color: #FFFFFF;
		}
		&:first-child{
			background-color: #AEAEAE;
			color:$mainfontcolor;
		}

		@media(max-width: 992px){
			th,td{
				font-size:$smallfontsize;
			}
		}
		@media(max-width: 854px){
			flex-direction: column;
			align-items: flex-start;
			padding: 10px 5px;
			td{
				text-align: left;
				display: flex;
				align-items: stretch;
				margin-bottom: 5px;
				word-wrap: break-all;
				font-size:$small2fontsize;
				padding: 0 10px;
				&::before{
					content: attr(data-title);
				    position: relative;
				    flex-shrink: 0;
				    flex-grow: 0;
				    background-color: #AEAEAE;
				    padding: 5px 15px;
				    margin-right: 15px;
				    display: flex;
				    align-items: center;
				    width: 100px;
				}
				span{
					padding: 5px 0;
				}
				div{
					padding: 5px 0;
				}
				a{
					padding: 5px 0;
				}
				p{
					padding: 5px 0;
				}
			}
			&:first-child{
				display: none;
			}
		}
		@media(max-width:640px){
			padding: 10px 5px;
			td{
				padding: 0 5px;
				&::before{
					width: 60px;
				}
			}
		}
	}

	
}




//------------------------photolist---------------------//

.photolist{
	display: flex;
	margin-left:-15px;
	margin-right:-15px;
	flex-wrap: wrap;
	&__item{
		width: 33.3%;
		padding: 0 15px;
		margin-bottom:40px;
		&__link{
			width: 100%;
			display: block;
			.img{
				width: 100%;
				padding-bottom:75%;
				background-position: center center;
				background-size: cover;
			}
			.tit{
				font-size: $middle3fontsize;
				color:$mainfontcolor;
				font-weight: bold;
				padding:10px 0;
			}
			.date{
				font-size: $small2fontsize;
				color:#666666;
				padding-bottom:10px;
			}
			&:hover,&:active,&:focus{
				.tit{
					color:$linkhovercolor;
				}
			}
		}
		@media(max-width: 992px){
			&__link{
				.tit{
					font-size: $smallfontsize;
				}
				
			}
		}
		@media(max-width: 854px){
			width: 50%;
		}
		@media(max-width: 480px){
			width: 100%;
			&__link{
				.tit{
					padding: 5px 0 0 0;
				}
			}
		}
	}
}

.photoTitle{
	font-size: $subfontsize;
	color:$linkhovercolor;
	font-weight: bold;
	@media(max-width: 854px){
		font-size: $middle2fontsize;
	}
}

.photoDate{
	font-size: $small2fontsize;
	color:#666666;
	padding:5px 0 25px 0;

}

.subTitle{
	font-size: $subfontsize;
	color:#000099;
	font-weight: bold;
	padding: 5px 0;
	@media(max-width: 854px){
		font-size: $middle2fontsize;
	}
}



//-----------------contact---------------//

.contact__imfo{
	padding-bottom:30px;
}

.formbox{
	padding:18px 0;
	input{
		margin: 8px 0;
		font-size: $middle3fontsize;
	}
	textarea{
		margin: 8px 0;
		font-size: $middle3fontsize;
	}

	&__file{
		padding: 10px 0;
		input{
			max-width: 70%;
		}
		button:focus,button:active{
			outline: 3px dashed $mainhovercolor;
		}
	}

	@media(max-width: 640px){
		input{
			font-size: $small2fontsize;
		}
		textarea{
			font-size: $small2fontsize;
		}
	}
}


.fontstyle01{
	color:#333333;
	font-weight: bold;
	font-size: $middle3fontsize;
	display: flex;
	align-items: center;
	.star{
		color:#ff0000;
		font-weight: bold;
		padding-right:5px;
	}
	@media(max-width: 640px){
		font-size: $small2fontsize;
	}
}

.fontstyle02{
	color:#333333;
	font-size: $middle3fontsize;
	@media(max-width: 640px){
		font-size: $small2fontsize;
	}
}

.btnstyle01{
	color:#fff;
	padding: 5px 15px;
	font-size: $middle3fontsize;
	background-color: #107E86;
	@media(max-width: 640px){
		font-size: $small2fontsize;
	}
}


.btnstyle02{
	color:#fff;
	padding:8px 15px;
	font-size: $middle3fontsize;
	&--gray{
		background-color: #666666;
	}
	&--green{
		background-color: #107E86;
	}
	@media(max-width: 640px){
		font-size: $small2fontsize;
	}
}


.btnstyle_return{
	color:#fff;
	padding: 5px 15px;
	font-size: $smallfontsize;
	background-color: #107E86;
	border-radius: 20px;
	display: table;
	margin: 0 auto;
	@media(max-width: 640px){
		font-size: $small2fontsize;
	}
}


.contact{
	margin: 10px 0;
	display:inline-block;
	width:100%;
	padding:0 10px;
}

.input__style01{
	@include app(none);
	height:40px;
	border: 1px solid #CCCCCC;
	width:100%;
	padding:0 10px;
	font-size: $middle3fontsize;
	@media(max-width:640px){
		font-size: $smallfontsize;
	}
}

.textarea__style01{
	@include app(none);
	height:200px;
	border: 1px solid #CCCCCC;
	width:100%;
	padding:0 10px;
	font-size: $middle3fontsize;
	@media(max-width:640px){
		font-size: $smallfontsize;
	}
}

.btnlist{
	display: flex;
	padding:20px 0;
	button{
		width: 190px;
		max-width: 45%;
		margin-right: 10px;
	}
}

.text{
	background-color: #F5F5F5;
	color:$mainfontcolor;
	font-size: $middle3fontsize;
	padding: 20px;
	letter-spacing: 0.05em;
	margin: 25px 0 30px 0;
	&.nopd{
		background:none;
		padding: 0;
	}
	@media(max-width:640px){
		font-size: $smallfontsize;
	}
}


//------------------------download--------------------//

.downloadlist{
	display: flex;
	align-items: center;
	justify-content: flex-end;
	width: 100%;
	a{
		width: 40px;
		height: 40px;
		background-repeat: no-repeat;
		background-size: 85%;
		background-position: center center;
		display: flex;
		margin: 0 2px;
		&.pdf{
			background-image: url('../images/dl_pd.png');
		}
		&.doc{
			background-image: url('../images/dl_do.png');
		}
		&.odt{
			background-image: url('../images/dl_od.png');
		}
		&.jpg{
			background-image: url('../images/dl_jp.png');
		}
		@media(max-width: 1024px){
			width: 30px;
		}
		@media(max-width: 854px){
			width: 40px;
		}
		@media(max-width: 340px){
			width: 35px;
		}
	}
	@media(max-width: 854px){
		justify-content: flex-start;
	}
}


//---------------------------video-----------------------//

.videolist{
	display: flex;
	margin-left:-15px;
	margin-right:-15px;
	flex-wrap: wrap;
	&__item{
		width: 50%;
		padding: 0 15px;
		margin-bottom:70px;
		&__link{
			width: 100%;
			display: block;
			position: relative;
		    padding-bottom: 58%;
		    padding-top: 30px;
		    height: 0;
		    margin-bottom: 0%;
			.img{
				width: 100%;
				padding-bottom:75%;
				background-position: center center;
				background-size: cover;
			}
			&:hover,&:active,&:focus{
				.tit{
					color:$linkhovercolor;
				}
			}

			iframe{
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
			}
		}
		.tit{
			font-size: $middle3fontsize;
			color:$mainfontcolor;
			font-weight: bold;
			padding:5px 0;
		}
		.remark{
			font-size: $small2fontsize;
			color:$mainfontcolor;
			font-weight: bold;
			a{
				color:#0066CC;
				text-decoration: underline;
			}
		}
		.date{
			font-size: $small2fontsize;
			color:#666666;
			padding-top:10px;
		}
		@media(max-width: 992px){
			&__link{
				.tit{
					font-size: $smallfontsize;
				}
				
			}
		}
		@media(max-width: 854px){
			width: 50%;
		}
		@media(max-width: 480px){
			width: 100%;
			&__link{
				.tit{
					padding: 5px 0 0 0;
				}
			}
		}
	}
}