@import "maxin";

.idxmarquee{
	background-color: #F5F5F5;
	padding: 10px 0;
	&__list{
		padding: 0 170px;
		background-image: url('../images/marquee_icon.png');
		background-size: 40px;
		background-position: left 125px center;
		background-repeat: no-repeat;
		
		a{
			font-size: $subfontsize;
			line-height: 1.5;
			color:#003399;
			display: flex;
			align-items: center;
			min-height: 60px;
			padding-left:5px;
		}

		@media(max-width: 1280px){
			padding: 0 120px;
			background-position: left 70px center;
			a{
				font-size: $middlefontsize;
			}
		}
		@media(max-width: 992px){
			padding: 0 50px;
			background-position: left 0px center;
		}
		@media(max-width: 640px){
			background-size: 30px;
			a{
				font-size: $small2fontsize;
				min-height: 40px;
			}
		}
	}
}



.idxservice{
	&__list{
		padding:30px 90px;
		display: flex;
		flex-direction: row;
		justify-content:space-around;
		margin: 40px auto 40px auto;
		&__item{
			img{
				max-width:180px;
			}
			p{
				font-size: $mainfontsize;
				color:$mainfontcolor;
				text-align: center;
				margin-top: 10px;
			}
			a{
				display:block;
				text-align: center;
				padding: 8px;
				&:hover,&:focus,&:active{
					p{
						color:$linkhovercolor;
					}
				}
			}
		}
		@media(max-width:1280px){
			&__item{
				img{
					width:150px;
				}
			}			
		}
		@media(max-width:992px){
			padding:0;
			&__item{
				img{
					width:130px;
				}
				p{
					font-size: $middlefontsize;
				}
			}
		}
		@media(max-width:640px){
			flex-wrap: wrap;
			&__item{
				width: 50%;
				margin-bottom: 25px;
				img{
					width:110px;
				}
				p{
					font-size: $middle2fontsize;
					margin-top: 5px;
				}
			}	
		}
		@media(max-width:340px){
			&__item{
				img{
					width:100px;
				}
			}
		}
	}
}


.idxnews__tit{
	padding: 10px 0;
	background-color: #48D1CC;
	color:#000;
	display: none;
	text-align: center;
	font-size: $mainfontsize;
	font-weight: bold;
	margin-top:30px;
}




.idxnews{
	padding:50px 0 ;
	background-color: #F5F5F5;
	&__tab{
		display:flex;
		width:100%;
		margin-top:50px;
		&__item{	
			font-size: $mainfontsize;
			font-weight: bold;
			width:50%;
			text-align: center;
			border-right:2px solid #fff;
			position:relative;
			&:last-child{
				border: 0;
			}
			>a{
				padding: 10px 0;
				background-color: #CCCCCC;
				color:$mainfontcolor;
				display: block;
				&.active,&:focus{
					background-color: $maincolor;
					outline:none;
				}
			}
			&.active{
				a{
					background-color: $maincolor;
				}
				
			}

			
			@media(max-width:854px){
				font-size: $subfontsize;
			}
			@media(max-width:640px){
				font-size:$smallfontsize;
			}
		}

	}
}

.idxnews{
	&__list{
		background-color: #fff;
		padding:20px 25px 80px 25px;
		display:none;
		&__item{
			display:flex;
			justify-content: flex-start;
			padding:10px 110px;
			letter-spacing: 0.03em;
			border-bottom: 1px solid #CCCCCC;
			p.date{
				text-align: center;
				font-size: $middlefontsize;
				width:200px;
				flex-shrink: 0;
			}
			a{
				color:$mainfontcolor;
				font-size: $middlefontsize;
				@include t-overflow(hidden);
				position:relative;
				top:0;
				@include transition(0.3s);
				&:hover{
					top:-3px;
				}
			}
			@media(max-width:992px){
				padding:10px 0px;
				p.date{
					font-size:$middle2fontsize;
					margin-right:5px;
				}
				a{
					font-size:$middle2fontsize;
				}
			}
			@media(max-width:640px){
				p.date{
					font-size:$small2fontsize;
					width:110px;
				}
				a{
					font-size:$small2fontsize;
				}
			}
			@media(max-width:340px){
				p.date{
					display:none;
				}
			}

		}
		.more{
			color:$mainfontcolor;
			background-color: $maincolor;
			font-size: $smallfontsize;
			font-weight: bold;
			letter-spacing:0.05em;
			float: right;
			margin-top:30px;
			padding: 3px 10px;
			border-radius: 15px;
			display: flex;
			align-items: center;
			i{
				margin:2px 5px 0 5px;
				font-size: 0.7em;
				@include transition(0.3s);
			}

			&:hover{
				i{
					transform: rotate(90deg);
				}
			}
		}

		&.active{
			display:block;
		}
	}
}





.idxlink__list{
	margin-top:15px;
	display:flex;
	justify-content: center;
	flex-wrap: wrap;
	li{
		padding:10px;
		display:flex;
		align-content: center;
		text-align: center;
		width: 16%;
		a{	
			width:100%;
			display:block;
			@include transition(0.3s);
			position:relative;
			border:1px solid #CCCCCC;
			top:0;
			background-position: center center;
			background-size: cover;
			padding-bottom:40%;
			background-repeat: no-repeat;
			font-size: 0;
			img{
				max-width: 100%;
			}
			&:hover,&:focus,&:active{
				top:-5px;
			}
		}
		@media(max-width:992px){
			width:33.3%;
		}
		@media(max-width:640px){
			width:50%;
		}

	}
}

.idxlink{
	.more{
		color:$mainfontcolor;
		background-color: $maincolor;
		font-size: $smallfontsize;
		font-weight: bold;
		letter-spacing:0.05em;
		display: block;
		margin: 0 auto;
		width: 75px;
		margin-top:30px;
		padding: 3px 10px;
		border-radius: 15px;
		display: flex;
		align-items: center;
		i{
			margin:2px 5px 0 5px;
			font-size: 0.7em;
			@include transition(0.3s);
		}

		&:hover{
			i{
				transform: rotate(90deg);
			}
		}
	}
}
