@import "maxin";
.header{
	&__nav{
		padding:20px 0;
		.nav{
			flex-direction: column;
			&__item{
				width:100%;
				>a{
					color:#fff;
					font-size: 18px;
					font-weight: $middle2fontsize;
					padding: 13px 17px;
					display:inline-block;
					width:100%;
					
					@media(max-width:1280px){
						font-size: $smallfontsize;
						font-weight: bold;
						padding: 13px 10px;
					}
					&:hover,&:active,&:focus,&:focus-within{
						background-color: #bd5700;
					}

				}
				>a:hover,a:active,a:focus{
						background-color: #bd5700;
					}
				&:hover,&:active,&:focus,&:focus-within{
					a{
						background-color: #bd5700;
					}
					.nav__item__list{
						opacity:1;
						visibility:visible;
						@media(max-width:992px){
							position:relative;
						}
						
						li{
							a{
								background-color: #fff;
								&:hover,&:active,&:focus,&:focus-within{
									color:#fff;
									background-color: #bd5700;
								}
							}
						}
					}

				}
				&.current{
					a{
						background-color: $maincolor;
						&:hover,&:active,&:focus,&:focus-within{
							background-color: #bd5700;
						}

					}
					.nav__item__list{
						a{
							background-color: #fff;
						}
					}
					
				}
			}
			@media(max-width:992px){
				flex-direction: column;
				padding-bottom:20px;
				&__item{
				
					position:relative;
					>a{
						width:100%;
						text-align: center;
						letter-spacing: 0.2em;
					}
				}	
			}
		}
		@media(min-width:993px){
			display:block !important;
		}
		@media(max-width:992px){
			display:none;
		}
	}
}


.nav__item__list{
	width:100%;
	max-width:100%;
	visibility: visible;
	opacity: 1;
	position: relative;
	background-color: #fff;
	margin: 15px 0;
	li{
		display:inline-block;
		width:20%;
		vertical-align: middle;
		padding:3px;

		a{
			font-size: $middle2fontsize;
			color:#000;
			font-weight: bold;
			letter-spacing:0.05em;
			padding:15px 20px;
			display:block;
			@include transition(0.3s);
			&:hover{
				background-color: #fff;
			}
			&:before{
				content: '■';
				display:inline-block;
				position:relative;
				top:-2px;
				margin-right:5px;
			}
			
			@media(max-width:1600px){
					font-size: $smallfontsize;
				}
		}
		
	}
	@media(max-width:1500px){
		margin-left: -15px;
		margin-right: -15px;
	}
	@media(max-width:992px){
		width:100%;
		max-width:100%;
		margin-left: 0;
		margin-right: 0;
		li{
			a{
				text-align: center;
			}
		}
	}

	&.is-active{
		visibility: visible;
		opacity: 1;
		li{
			a{
				background-color: #f9f9f9 !important;
			}
			a:hover,a:active,a:focus{
				a:before{

				}
			}
		}
		@media(max-width:992px){
			position:relative;
			top:0;
		}
	}
}


.idxalbum__list{
	display:flex;
	flex-wrap: wrap;
	li{
		width:25%;
	}
}


.idxnews__tit{
	display: block;
}

.idxnews__tab{
	display:none;
}

.idxnews__list{
	display:block;
}
