.traffic__imfo p, .traffic__imfo address {
  font-size: 1.12em;
  color: #000;
  line-height: 1.5; }
  .traffic__imfo p a, .traffic__imfo address a {
    color: #000; }
@media (max-width: 640px) {
  .traffic__imfo p, .traffic__imfo address {
    font-size: 1em; } }
@media (max-width: 480px) {
  .traffic__imfo p, .traffic__imfo address {
    font-size: 0.9em; } }
.traffic__map {
  padding: 30px 0; }
  .traffic__map iframe {
    width: 100% !important;
    height: 500px  !important; }
    @media (max-width: 640px) {
      .traffic__map iframe {
        height: 250px  !important; } }

.sitemap__header {
  padding-bottom: 50px;
  border-bottom: 1px solid #e4e4e4;
  margin-bottom: 50px; }
  .sitemap__header p {
    color: #333333;
    padding: 7px 10px;
    font-size: 1.12em;
    letter-spacing: 0.05em; }
    @media (max-width: 640px) {
      .sitemap__header p {
        font-size: 0.9em; } }

.sitemap__list {
  margin-bottom: 30px; }
  .sitemap__list ul {
    padding-left: 30px; }
  .sitemap__list li a {
    color: #333333;
    padding: 14px 10px;
    display: block;
    font-size: 1.12em;
    letter-spacing: 0.05em;
    border-bottom: 1px solid #e4e4e4; }
    .sitemap__list li a:hover, .sitemap__list li a:focus, .sitemap__list li a:active {
      color: #0C777F;
      font-weight: bold; }
    @media (max-width: 640px) {
      .sitemap__list li a {
        font-size: 0.9em; } }

/*# sourceMappingURL=layout.css.map */
