@charset "UTF-8";


body::before{
    content: '您的瀏覽器不支援JavaScript功能，若網頁功能無法正常使用時，請開啟瀏覽器JavaScript。  如需要回到上一頁，可使用瀏覽器提供的 Alt   左方向鍵(←)。';
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    font-size: 1.12em;
    color: #fff;
    background-color: rgba(0,0,0,0.8);
    padding: 10px 15px;
    letter-spacing:0.05em;
    text-align: center;
    z-index: 999999999999;
    display: block;
}
.header__nav {
    padding: 20px 0;
}
.header__nav .nav {
    flex-direction: column;
}
.header__nav .nav__item {
    width: 100%;
}
.header__nav .nav__item>a {
    color: #fff;
    font-size: 1.12em;
    font-weight: bold;
    padding: 13px 17px;
    display: inline-block;
    width: 100%;
}
@media (max-width: 1280px) {
    .header__nav .nav__item>a {
        font-size: 1em;
        font-weight: bold;
        padding: 13px 10px;
    }
}
.header__nav .nav__item>a:hover, .header__nav .nav__item>a:active, .header__nav .nav__item>a:focus, .header__nav .nav__item>a:focus-within {
    background-color: #bd5700;
}
.header__nav .nav__item>a:hover, .header__nav .nav__item a:active, .header__nav .nav__item a:focus {
    background-color: #bd5700;
}
.header__nav .nav__item:hover a, .header__nav .nav__item:active a, .header__nav .nav__item:focus a, .header__nav .nav__item:focus-within a {
    background-color: #bd5700;
}
.header__nav .nav__item:hover .nav__item__list, .header__nav .nav__item:active .nav__item__list, .header__nav .nav__item:focus .nav__item__list, .header__nav .nav__item:focus-within .nav__item__list {
    opacity: 1;
    visibility: visible;
}
@media (max-width: 992px) {
    .header__nav .nav__item:hover .nav__item__list, .header__nav .nav__item:active .nav__item__list, .header__nav .nav__item:focus .nav__item__list, .header__nav .nav__item:focus-within .nav__item__list {
        position: relative;
    }
}
.header__nav .nav__item:hover .nav__item__list li a, .header__nav .nav__item:active .nav__item__list li a, .header__nav .nav__item:focus .nav__item__list li a, .header__nav .nav__item:focus-within .nav__item__list li a {
    background-color: #fff;
}
.header__nav .nav__item:hover .nav__item__list li a:hover, .header__nav .nav__item:hover .nav__item__list li a:active, .header__nav .nav__item:hover .nav__item__list li a:focus, .header__nav .nav__item:hover .nav__item__list li a:focus-within, .header__nav .nav__item:active .nav__item__list li a:hover, .header__nav .nav__item:active .nav__item__list li a:active, .header__nav .nav__item:active .nav__item__list li a:focus, .header__nav .nav__item:active .nav__item__list li a:focus-within, .header__nav .nav__item:focus .nav__item__list li a:hover, .header__nav .nav__item:focus .nav__item__list li a:active, .header__nav .nav__item:focus .nav__item__list li a:focus, .header__nav .nav__item:focus .nav__item__list li a:focus-within, .header__nav .nav__item:focus-within .nav__item__list li a:hover, .header__nav .nav__item:focus-within .nav__item__list li a:active, .header__nav .nav__item:focus-within .nav__item__list li a:focus, .header__nav .nav__item:focus-within .nav__item__list li a:focus-within {
    color: #fff;
    background-color: #bd5700;
}
.header__nav .nav__item.current a {
    background-color: #012a72;
}
.header__nav .nav__item.current a:hover, .header__nav .nav__item.current a:active, .header__nav .nav__item.current a:focus, .header__nav .nav__item.current a:focus-within {
    background-color: #bd5700;
}
.header__nav .nav__item.current .nav__item__list a {
    background-color: #fff;
}
@media (max-width: 992px) {
    .header__nav .nav {
        flex-direction: column;
        padding-bottom: 20px;
    }
    .header__nav .nav__item {
        position: relative;
    }
    .header__nav .nav__item>a {
        width: 100%;
        text-align: center;
        letter-spacing: 0.2em;
    }
}
@media (min-width: 993px) {
    .header__nav {
        display: block !important;
    }
}
@media (max-width: 992px) {
    .header__nav {
      display: block !important;
    }
}
.nav__item__list {
    width: 100%;
    max-width: 100%;
    visibility: visible;
    opacity: 1;
    position: relative;
    background-color: #fff;
    margin: 15px 0;
    top:0;
}
.nav__item__list li {
    display: inline-block;
    width:100%;
    vertical-align: middle;
    padding: 3px;
}
.nav__item__list li a {
    font-size: 1.12em;
    color: #000;
    font-weight: bold;
    letter-spacing: 0.05em;
    padding: 10px 20px;
    display: block;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.nav__item__list li a:hover {
    background-color: #fff;
}
.nav__item__list li a:before {
    content: '■';
    display: inline-block;
    position: relative;
    top: -2px;
    margin-right: 5px;
}


.nav__item__list li .nav__item__list{
  visibility: visible;
  opacity: 1;
  left: 30px;
  width: 80%;
}

@media (max-width: 1600px) {
    .nav__item__list li a {
        font-size: 1em;
    }
}
@media (max-width: 1500px) {
    .nav__item__list {
        margin-left: -15px;
        margin-right: -15px;
    }
}
@media (max-width: 992px) {
    .nav__item__list {
        width: 100%;
        max-width: 100%;
        margin-left: 0;
        margin-right: 0;
    }
    .nav__item__list li{
        width: 33%;
    }
    .nav__item__list li a {
        text-align: center;
    }
}
.nav__item__list.is-active {
    visibility: visible;
    opacity: 1;
}
.nav__item__list.is-active li a {
    background-color: #f9f9f9 !important;
}
@media (max-width: 992px) {
    .nav__item__list.is-active {
        position: relative;
        top: 0;
    }
}
.idxalbum__list {
    display: flex;
    flex-wrap: wrap;
}
.idxalbum__list li {
    width: 25%;
}
.idxnews__tit {
    display: block!important;
}
.idxnews__tab {
  /*  display: none !important; */
}
.idxnews__list {
    display: block!important;
}
.idxnews__tab__item{
    width: 100% !important;
}
.idxnews__tab__item--right {
    border: 0;
    position: relative!important;
    top: auto!important;
    left: auto!important;
}
/*# sourceMappingURL=nos_nav.css.map */

@media (max-width: 640px) {
    .nav__item__list li{
        width: 100%;
    }
}