


/*------------------layout---------------------*/

.layout{
	background-image: url(../images/bg_img3.png);
	background-size: 100%;
	background-position: center top;
	background-repeat: no-repeat;
	min-height: 500px;
	@media(max-width:1300px){
		background-size: auto 15px ;
	}
}

.layout_tit{
	padding:40px 70px;
	background-image: url(../images/line.png),url(../images/line.png);
	background-position: left center, right center;
	background-repeat: no-repeat;
	font-size: 36px;
	font-weight: bold;
	color:$maincolor;
	display:table;
	margin:0 auto;
	text-align: center;
	@media(max-width:854px){
		font-size: 26px;
	}
}

.layout__banner{
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	width:100%;
	padding-bottom:18%;
}



.texttit{
	color:#333333;
	font-size: 24px;
	font-weight: bold;
	letter-spacing:0.05em;
	padding:10px 0;
}

.textcat{
	color:#0b589b;
	font-size: 24px;
	font-weight: bold;
	letter-spacing:0.05em;
}

.textdate{
	color:#5d5c5c;
	font-size: 16px;
	letter-spacing:0.05em;
}



.textcontent{
	&.wd80{
		width: 80%;
		margin-left:10%;
		@media(max-width: 854px){
			width:100%;
			margin-left: 0;

		}
	}
	margin-top: 20px;
	font-size: 17px;
	color:#333333;
	line-height: 1.8;
	letter-spacing:0.06em;
	margin-bottom:50px;
	>*{
		font-size: 17px;
		color:#333333;
		line-height: 1.8;
		letter-spacing:0.06em;
	}
	img{
		max-width: 100%;
		height:auto !important;
		margin:10px 0;
	}
	@media(max-width: 854px){
		font-size: 15px;
		>*{
			font-size: 15px;
		}

	}
}

.return{
	color:#515151;
	font-size: 17px;
	font-weight: bold;
	padding:10px 20px;
	border: 1px solid #cccccc;
	display:table;
	margin:50px auto 30px auto;
	position:relative;
	@include transition(0.3s);
	top:0;
	&:hover{
		top:-5px;
		box-shadow:2px 2px 2px #999;
	}
}



select.styleselect01{
	height:40px;
	padding-right: 50px;
	padding-left: 20px;
	@include  app(none);
	vertical-align:middle;
	margin:0;
	width:100%;
	background-color: #fff;
	font-size: 17px;
	border: 1px solid #cccccc;
	letter-spacing: 0.05em;
	background-image: url('../images/drop.png');
	background-position: right 15px center;
	background-repeat: no-repeat;

	@media(max-width:854px){
		font-size: 15px;
	}
}



.advisorybtn{
	padding:0;
	text-align: left;
	max-width:60%;
	margin-right:2%;
	margin-bottom:10px;
	img{
		max-width:100%;
	}
}






/*--------------------------------------------*/




.btnlist{
	padding:50px 10px 20px 10px;
	>*{
		margin-right:10px;
		max-width:45%;
	}
}


.formbtn{
	font-size: 16px;
	color:#fff;
	font-weight: bold;
	padding:10px 0;
	width:180px;
	letter-spacing:0.04em;
	position:relative;
	@include transition(0.3s);
	top:0;
	&:hover,&:active,&:focus{
		top:-5px;
		box-shadow:2px 2px 2px #999;
	}

	&.reset{
		background-color: #666666;
	}
	&.submit{
		background-color: $maincolor;
	}
}



/*-------------------------------------------------*/



.title_style01{
	color:#0b589b;
	font-size: 24px;
	letter-spacing:0.05em;
	font-weight: bold;
	padding:15px 20px;
	background-color: #eeeeee;
	@media(max-width:640px){
		font-size: 18px;
	}
}

.title_style02{
	font-size: 18px;
	color:#333333;
	letter-spacing:0.04em;
	font-weight: bold;
	margin:10px 0;
	a{
		color:#333333;
	}
	@media(max-width:640px){
		font-size: 16px;
	}
	@media(max-width:480px){
		font-size: 15px;
	}
}


.input__style01{
	@include app(none);
	height:40px;
	border: 1px solid #cccccc;
	width:100%;
	padding:0 10px;
	font-size: 17px;
	@media(max-width:640px){
		font-size: 15px;
	}
}



.input__style02{
	@include app(none);
	height:45px;
	border: 1px solid #ebebeb;
	width:100%;
	padding:0 10px;
	font-size: 17px;
	background-color: #ebebeb;
	@media(max-width:640px){
		font-size: 15px;
	}
}

.input__code{
	@include app(none);
	height:40px;
	border: 1px solid #cccccc;
	max-width:40%;
	padding:0 10px;
	font-size: 17px;
	width:200px;
	@media(max-width:640px){
		font-size: 15px;
	}
}




.textarea__style01{
	@include app(none);
	height:200px;
	border: 1px solid #cccccc;
	width:100%;
	padding:10px;
	font-size: 17px;
	@media(max-width:640px){
		font-size: 15px;
	}
}

span.star{
	color:#ff0000;
	margin-right:3px;
}





//---------------------------------------------//

.mainTable{
	width: 100%;
	tr{
		display: flex;
		padding: 10px 20px;
		td,th{
			text-align: center;
			font-size:$middle3fontsize;
			font-weight: normal;
			padding: 0 15px;

			&.tb1{
				flex:1;
			}
			&.tb2{
				flex:2;
			}
			&.tb3{
				flex:3;
			}
			&.tb4{
				flex:4;
			}
			&.tb5{
				flex:5;
			}
			&.tb6{
				flex:6;
			}
			&.tb8{
				flex:8;
			}




			&.left{
				text-align: left;
			}
		}
		
		&:nth-child(odd){
			background-color: #F0F0F0;
		}
		&:nth-child(even){
			background-color: #FFFFFF;
		}
		&:first-child{
			background-color: #AEAEAE;
			color:$mainfontcolor;
		}

		@media(max-width: 992px){
			th,td{
				font-size:$smallfontsize;
			}
		}
		@media(max-width: 854px){
			flex-direction: column;
			padding: 10px 10px;
			td{
				text-align: left;
				display: flex;
				align-items: stretch;
				//margin-bottom: 5px;
				word-wrap: break-all;
				font-size:$small2fontsize;
				border-bottom: 1px solid #000;
				padding: 10px 0;
				&::before{
					content: attr(data-title);
				    position: relative;
				    flex-shrink: 0;
				    flex-grow: 0;
				    //background-color: #AEAEAE;
				    padding: 0 10px;
				    margin-right: 20px;
				    width: 100px;
				    border-right: 1px solid #000;
				}
			}
			&:first-child{
				display: none;
			}
		}
		@media(max-width:640px){
			td{
				&::before{
					width: 60px;
				}
			}
		}
	}

	
}


@import "maxin";




.calendar{
	display:flex;
	max-width:1280px;
	margin: 0 auto;
	iframe{
		width:100%;
		max-width:100%;
	}
}



.lending{
	&__search{
		padding-bottom:30px;
		display:flex;
		align-items: center;
		justify-content: space-between;
		
		
		.left{
			display:flex;
			align-items: center;
			p{
				color:#333333;
				font-size: 20px;
				font-weight: bold;
				width:75px;
			}
			.styleselect01{
				width:200px;
				margin-right:20px;
			}
		}
		.right{
			label{
				font-size: 0;
			}
			.input__style01{
				width:200px;
				margin-right:20px;
			}
			button{
				background-color: #0b589b;
				color:#fff;
				height:40px;
				padding:0 20px;
			}
		}
		@media(max-width:768px){
			flex-direction: column;
			.left{
				width:100%;
				display:flex;
				justify-content: flex-start;
				margin-bottom:20px;
				.styleselect01{
					flex-grow: 1;
					margin-right:0;
				}
			}
			.right{
				width:100%;
				display:flex;
				.input__style01{
					flex-grow: 1;
				}
			}
		}
	}
}

.lending_btn{
	background-color: #0b589b;
	color:#fff;
	font-size: 24px;
	padding: 5px 40px;
	margin-top:35px;
	display:inline-block;
}


.uploadbox{
	padding-bottom: 30px;
	border-bottom: 1px solid #eeeeee;
	label{
		font-size: 24px;
		color:#333333;
		font-weight: bold;
		display:block;
		margin:0 0 20px 0;

		span{
			font-size: 18px;
			color:#81001a;
		}
	}
	input[type='file']{
		margin:5px 0;
		color:#666666;
		font-size: 17px;
		width:300px;
	}
	button{
		background-color: #0b589b;
		color:#fff;
		padding:5px 15px;
		font-size: 17px;
		margin:5px 0;
	}
	&__tit{
		font-size: 24px;
		color:#333333;
		font-weight: bold;
		margin:30px 0;
	}
	@media(max-width:640px){
		label{
			font-size: 18px;
			span{
				font-size: 16px;
			}
		}
		input[type='file']{
			font-size: 15px;
			width:220px;
		}
		&__tit{
			font-size: 19px;
		}
	}
}
.sitemap__header{
	padding-bottom:50px;
	border-bottom: 1px solid #e4e4e4;
	margin-bottom:50px;
	p{
		color:#333333;
		padding: 7px 10px;
		font-size: 18px;
		letter-spacing:0.05em;
	}
}


.sitemap__list{
	margin-bottom:30px;
	ul{
		padding-left:30px;
	}
	li{
		
		a{
			color:#333333;
			padding: 14px 10px;
			display:block;
			font-size: 18px;
			letter-spacing:0.05em;
			border-bottom: 1px solid #e4e4e4;
			&:hover,&:focus,&:active{
				color:#bd5700;
			}
		}
	}
}



/*---------------------------------------------*/


.downloadlist{
	width:100%;
	&__item{
		
		font-size: 18px;
		padding:20px 20px;

		a{
			color:#333333;
		}

		&:nth-child(odd){
			background-color: #f5f5f5;
		}
		&--tit{
			background-color: #8f8f8f !important;
			color:#fff;
			font-size: 24px;
			font-weight: bold;
			text-align: center;
			padding:10px 0;
		}

		@media(max-width: 854px){
			font-size: 16px;
			&--tit{
				font-size: 20px;
			}
		}
		@media(max-width: 480px){
			font-size: 14px;
			padding:15px 20px;
			&--tit{
				font-size: 18px;
			}
		}

	}
}


.newslist{
	margin-bottom:30px;
	&__item{
		
		a{
			display:flex;
			padding:20px 25px;
			justify-content: space-between;
			align-items: center;
			color:#333333;
			div{	
				letter-spacing: 0.04em;
				font-size: 17px;
				text-align: center;
				&.date{
					width:130px;
					text-align: center;
					flex-shrink: 0;
				}
				&.title{
					padding:0 5px;
					flex-grow: 	1;
					text-align: left;
					@include textoverflow(30px,30px,1);

				}
				&.cat{
					width:120px;
					flex-shrink: 0;
				}
				&.click{
					width:120px;
					flex-shrink: 0;
				}
				@media(max-width:854px){
					font-size: 15px;
					&.date{
						width:85px;
					}
					&.cat{
						width:75px;
					}
					&.click{
						width:40px;
					}
				}
				@media(max-width:640px){
					&.cat{
						display:none;
					}
				}
				@media(max-width:480px){
					font-size: 13px;
					&.date{
						width:80px;
						font-size: 12px;
					}
				}
			}
			&:hover,&:active,&:focus{
				color:#bd5700;
				text-shadow: 0.02em 0px #bd5700;
			}

			@media(max-width:854px){
				padding:10px 15px;
			}
			@media(max-width:640px){
				padding:10px 10px;
			}
		}
		&--title{
			a{
				background-color: #5b5b5b;
				color:#fff !important;

				div.title{
					text-align: center;
				}
			}
		}
		
		&:nth-child(odd){
			background-color: #f5f5f5;
		}
		@media(max-width:854px){
			
		}
	}
}






.caselist{
	margin-bottom:30px;
	&__item{
		a{
			display:flex;
			flex-direction: row;
			align-items: center;
			padding:20px 25px;
			color:#333333;
			&:hover,&:active,&:focus{
				color:#bd5700;
				text-shadow: 0.02em 0px #bd5700;
			}

		}
		div{	
			letter-spacing: 0.04em;
			font-size: 17px;
			&.date{
				width:130px;
				text-align: center;
				flex-shrink: 0;
			}
			&.title{
				padding:0 15px;
				@include textoverflow(30px,30px,1);

			}

			@media(max-width:854px){
				font-size: 15px;
				&.date{
					width:110px;
				}
			}
			@media(max-width:480px){
				font-size: 14px;
				&.date{
					width:80px;
					font-size: 13px;
				}
				&.title{
					padding:0 0 0 15px;
				}
			}
		}
		&:nth-child(odd){
			background-color: #f0f0f0;
		}
	}
}




.tablelist{
	width:100%;
	margin-bottom:30px;
	tr{
		display:flex;
		align-items: center;
		td,th{
			letter-spacing: 0.04em;
			font-size: 18px;
			color:#333333;
			&.date{
				width:130px;
				text-align: center;
				flex-shrink: 0;
				padding:15px 10px 15px 25px;
			}
			&.cat{
				width:130px;
				text-align: center;
				flex-shrink: 0;
				padding:15px 0;
			}
			&.click{
				width:110px;
				text-align: center;
				flex-shrink: 0;
				padding:15px 0;
			}
			&.data{
				width:90px;
				padding:15px 0;
				text-align: center;
				flex-shrink: 0;
				a.dl_btn{
					background-color: #0b589b;
					color:#fff;
					padding:5px 0;
					width:80%;
					display:inline-block;
					text-align: center;
				}
				a.de_btn{
					background-color: #5d5d5d;
					color:#fff;
					padding:5px 0;
					width:80%;
					display:inline-block;
					text-align: center;
				}
			}
			&.title{
			flex-grow: 	1;	
				a{
					width:100%;
					display:block;
					color:#333333;
					padding:0 15px;
					@include textoverflow(60px,60px,1);
					&:hover,&:active,&:focus{
						color:#bd5700;
						text-shadow: 0.02em 0px #bd5700;
					}	
				}

			}
			@media(max-width:854px){
				font-size: 15px;
				&.date{
					width:110px;
					padding-left: 10px;
				}
				&.click{
					width:80px;
				}
			}
			@media(max-width:640px){
				&.cat{
					display:none;
				}
			}
			@media(max-width:480px){
				font-size: 14px;
				&.date{
					width:80px;
					font-size: 13px;
				}
				&.title{
					padding:0 0 0 5px;
					a{
						padding:0 5px;
						@include textoverflow(40px,40px,1);
					}
				}
			}

		}
		th{
			background-color: #5b5b5b;
			color:#fff !important;
			&.title{
				padding:20px 0;
			}
			&.date{
				padding:20px 0 20px 25px;
			}
			&.cat{
				padding:20px 0;
			}
			&.click{
				padding:20px 0;
			}
			&.data{
				padding:20px 0;
			}
			@media(max-width:854px){
				&.date{
					padding-left: 10px;
				}
			}

			@media(max-width:480px){
				&.date{
					font-size: 14px;
				}
			}
		}
		&:nth-child(odd){
			background-color: #f0f0f0;
		}

		&:hover{
			td,th{
				color:#bd5700;
				text-shadow: 0.02em 0px #bd5700;
			}
		}

	}
	&--upload{
		@media(max-width:640px){
			tr{
				display:flex;
				align-items: center;
				flex-wrap: wrap;
				padding:0 20px;
				th{
					display:none;
				}
				td{
					width:100% !important;
					text-align: left!important;
					padding-left:0 !important;
					&.data{
						width:40% !important;
					}
				}
			}
		}
	}
}





.contentlist{
	li{
		display:flex;
		padding:15px 0;
		border-bottom: 1px solid #eeeeee;
		div{
			font-size: 18px;
			letter-spacing: 0.04em;
			line-height: 1.7;
			&.tit{
				font-weight: bold;
				width:140px;
				flex-shrink: 0;
				text-align: right;
				padding-right:20px;
			}
			&.orange{
				color:#bd5700;
			}
			.download{
				color:#bd5700;
				text-decoration:underline;
				//border-bottom: 1px solid #bd5700;
				padding-right: 10px;
				display:table;
				margin-bottom:5px;
				/*&:after{
					content:'/';
					display:inline-block;
					margin-left:12px;
				}
				&:last-child{
					&:after{
						display:none;
					}
				}*/
				&:hover,&.focus{
					text-shadow: 0.03em 0px #bd5700;
				}
			}
			@media(max-width:854px){
				font-size: 16px;
				&.tit{
					width:110px;
				}
			}
			@media(max-width:640px){
				font-size: 15px;
				&.tit{
					width:85px;
					padding-right:10px;
				}
			}
		}
	}
}




.advisorybox{
	margin: 10px 0;
	display:inline-block;
	width:100%;
	padding:0 10px;

	label{
		font-size: 0;
		height:0;
		display: block;
	}
}



.advisorylist{
	&__item{
		border: 10px solid #cccccc;
		margin-bottom:40px;
		&__content{
			padding:15px 20px;
			background-image: url(../images/border.png);
			background-repeat: repeat-x;
			background-position: center bottom;
			width:100%;
			display:flex;

			.tit{
				font-size: 18px;
				color:#fff;
				height:44px;
				padding:10px 0;
				font-weight: bold;
				background-color: $maincolor;
				width:80px;
				text-align: center;
				flex-shrink: 0;

			}
			.content{
				color:#666666;
				font-size: 18px;
				letter-spacing:0.04em;
				line-height: 1.5;
				padding: 10px 30px;
				font-weight: bold;
			}
		}

		@media(max-width:854px){
			&__content{
				.tit{
					font-size: 16px;
					width:70px;
				}
				.content{
					padding: 10px 20px;
					font-size: 16px;
				}
			}
		}

		@media(max-width:480px){
			&__content{
				.tit{
					font-size: 14px;
					width:50px;
					height:34px;
					padding:5px 0;
				}
				.content{
					font-size: 14px;
					padding: 5px 0 10px 20px;
				}
			}
		}
	}
}


.liststyle01{
	display:flex;
	flex-wrap: wrap;
	margin-left: -25px;
	margin-right:-25px;
	&__item{
		width:33.3%;
		padding:0 25px;
		margin-bottom:50px;
		.img{
			width:100%;
			padding-bottom: 75%;
			background-image: url(../images/link.png);
			background-repeat: no-repeat;
			background-position: center center;
			background-size: cover;
			@include transition(0.3s);
		}
		.title{
			color:$maincolor;
			font-size: 20px;
			font-weight: bold;
			letter-spacing: 0.04em;
			margin:10px 0;
		}
		.date{
			color:#565555;
			font-size: 20px;
			letter-spacing: 0.04em;
			margin:0 0 10px 0;
		}

		a{
			overflow:hidden;
			display:block;
			&:hover{
				.img{
					-ms-transform: scale(1.2, 1.2); /* IE 9 */
				    -webkit-transform: scale(1.2, 1.2); /* Safari */
				    transform: scale(1.2, 1.2);
				}
			}
		}

		@media(max-width:768px){
			width:50%;
			.title{
				font-size: 18px;
			}
			.date{
				font-size: 16px;
			}
		}
		@media(max-width:480px){
			width:100%;
			margin-bottom:30px;
			.title{
				font-size: 16px;
			}
			.date{
				font-size: 14px;
			}
		}

	}
	@media(max-width:640px){
		margin-left: -15px;
		margin-right:-15px;
		&__item{
			padding:0 15px;
		}
	}
}




.liststyle02{
	display:flex;
	flex-wrap: wrap;
	margin-left: -20px;
	margin-right:-20px;
	&__item{
		width:25%;
		padding:0 20px;
		margin-bottom:50px;
		.img{
			width:100%;
			padding-bottom: 75%;
			background-image: url(../images/link.png);
			background-repeat: no-repeat;
			background-position: center center;
			background-size: cover;
			@include transition(0.3s);
		}
		.title{
			color:$maincolor;
			font-size: 20px;
			font-weight: bold;
			letter-spacing: 0.04em;
			margin:10px 0;
		}
		.date{
			color:#565555;
			font-size: 18px;
			letter-spacing: 0.04em;
			margin:0 0 10px 0;
		}

		a{
			overflow:hidden;
			display:block;
			&:hover{
				.img{
					-ms-transform: scale(1.2, 1.2); /* IE 9 */
				    -webkit-transform: scale(1.2, 1.2); /* Safari */
				    transform: scale(1.2, 1.2);
				}
			}
		}
		@media(max-width:1024px){
			width:33.3%;

		}
		
		@media(max-width:768px){
			width:50%;
			.title{
				font-size: 18px;
			}
			.date{
				font-size: 16px;
			}
		}
		@media(max-width:480px){
			width:100%;
			margin-bottom:30px;
			.title{
				font-size: 16px;
			}
			.date{
				font-size: 14px;
			}
		}

	}
	@media(max-width:640px){
		margin-left: -15px;
		margin-right:-15px;
		&__item{
			padding:0 15px;
		}
	}

}


.album{
	width:100%;
	flex-grow: 0;
	max-width:1150px;
	margin:0 auto;
	img{
		 max-width: 100%;
		 width:100%;
	}
	.albumtit{
		font-size: 20px;
		color:#666666;
		letter-spacing: 0.04em;
		font-weight: bold;
		margin-top: 20px;
		margin-bottom: 25px;

		@media(max-width:640px){
			font-size: 16px;
		}
	}
}

.album_main{
	
	li{
		max-width:100%;
	}
	@media(max-width:640px){
		.slick-next{
			right: 20px;
		}
		.slick-prev{
			left: 20px;
		}
	}
}


.album_nav{
	margin-left: -5px;
	margin-right:-5px;
	margin-top:20px;
	margin-bottom:50px;
	li{
		padding:5px;
	}
	.slick-current {
	  position: relative;
	}
	.slick-current:after {
	  width: 100%;
	  height: 100%;
	  background-color: rgba(255, 255, 255, 0.65);
	  content: '';
	  position: absolute;
	  left: 0;
	  top: 0;
	}
}




.contact{
	max-width:1000px;
	margin:0 auto;
	width:100%;
}


.login{
	max-width:450px;
	margin:0 auto;
	width:100%;
	.loginbtn{
		margin-top:50px;
		font-size: 16px;
		color:#fff;
		font-weight: bold;
		padding:20px 0;
		width:100%;
		letter-spacing:0.04em;
		position:relative;
		@include transition(0.3s);
		top:0;
		&:hover,&:active,&:focus{
			top:-5px;
			box-shadow:2px 2px 2px #999;
		}
		&.submit{
			background-color: #0b589b;
		}
	}
	a.forget{
		float:right;
		font-size: 18px;
		color:#515151;
		margin-top: 10px;
		@media(max-width:854px){
			font-size: 15px;
		}
	}
}


.contact{
	&__imfo{
		.logo{
			width:400px;
			max-width:100%;
			margin:0 0 30px 0;
		}
		.advisorybox{
			padding-left: 90px;
			@media(max-width:854px){
				padding-left: 5%;
			}
		}
		iframe{
			height:350px;
			width:100%;
			margin:50px 0 80px 0;
		}	
	}
}

.code{
	display:flex;
	align-items: center;
	img{
		height:40px;
		margin-left:10px;
	}
}




.layout__search{
	max-width:300px;
	display:flex;
	padding:15px 0 45px 0;
	label{
		font-size: 0;
		height:0;
	}
	button{
		background-color: #0b589b;
		color:#fff;
		width:90px;
		margin-left:10px;
		border: 1px solid #0b589b;
	}
}


.activitylist{
	&__item{
		padding:40px 0;
		border-bottom: 1px solid #cccccc;
		&__title{
			display:flex;
			align-items: center;
			.cat{
				width:76px;
				height: 76px;
				background-color: $maincolor;
				color:#fff;
				font-size: 24px;
				font-weight: bold;
				padding: 6px;
				text-align: center;
				border-radius: 10px;
				flex-shrink: 0;
			}
			.tit{
				font-size: 27px;	
				font-weight: bold;
				padding-left: 15px;
				letter-spacing:0.05em;
				a{
					color:$maincolor;
				}
			}

			@media(max-width:854px){
				.cat{
					width:60px;
					height: 60px;
					padding: 3px 4px 3px 4px;
					font-size: 18px;
				}
				.tit{
					font-size: 20px;
				}
			}

		}

		&__date{
			font-size: 16px;
			color:#333333;
			letter-spacing:0.04em;
			text-align: right;
			padding:15px 0 20px 0;
			@media(max-width:854px){
				font-size: 14px;
				padding:5px 0;
			}
		}

		&__content{
			display:flex;
			align-items: center;
			.img{
				width:150px;
				height:150px;
				background-image: url(../images/index_05.jpg);
				background-repeat: no-repeat;
				background-size: cover;
				background-position: center center;
				flex-shrink: 0;
				@media(max-width:854px){
					width:110px;
					height:110px;
				}
			}
			.content{
				padding-left:40px;
				p{

					font-size: 18px;
					color:#666666;
					font-weight: bold;
					letter-spacing:0.05em;
					text-align: justify;
					@include textoverflow(100px,25px,4);
					a{
						color:#666666;
						    display: block;
					}
				}

				.more{
					color:$maincolor;
					font-weight: bold;
					letter-spacing:0.05em;
					float: right;
					margin-top:30px;
					i{
						margin:0 5px;
						@include transition(0.3s);
					}

					&:hover{
						i{
							transform: rotate(90deg);
						}
					}
				}
				@media(max-width:854px){
					padding-left:20px;
					p{
						font-size: 16px;
						@include textoverflow(60px,20px,3);
					}
					.more{
						margin-top:20px;
					}
				}
				
			}
			

		}
	}
}


.video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 90%;
}


.video {
  position: relative;
  padding-bottom: 55%;
  padding-top: 30px;
  height: 0;
  margin-top: 70px;
}
