@import "maxin";



.traffic{
	&__imfo{
		p,address{
			font-size: $middle3fontsize;
			color:$mainfontcolor;
			line-height: 1.5;
			a{
				color:$mainfontcolor;
			}
		}
		@media(max-width: 640px){
			p,address{
				font-size: $smallfontsize;
			}
		}
		@media(max-width: 480px){
			p,address{
				font-size: $small2fontsize;
			}
		}
	}

	&__map{
		padding: 30px 0;
		iframe{
			width: 100% !important ;
			height: 500px  !important;
			@media(max-width: 640px){
				height: 250px  !important;
			}
		}
	}
}


.sitemap__header{
	padding-bottom:50px;
	border-bottom: 1px solid #e4e4e4;
	margin-bottom:50px;
	p{
		color:#333333;
		padding: 7px 10px;
		font-size: $middle3fontsize;
		letter-spacing:0.05em;
		@media(max-width: 640px){
			font-size: $small2fontsize;
		}
	}
}


.sitemap__list{
	margin-bottom:30px;
	ul{
		padding-left:30px;
	}
	li{
		
		a{
			color:#333333;
			padding: 14px 10px;
			display:block;
			font-size: $middle3fontsize;
			letter-spacing:0.05em;
			border-bottom: 1px solid #e4e4e4;
			&:hover,&:focus,&:active{
				color:$linkhovercolor;
				font-weight: bold;
			}
			@media(max-width: 640px){
				font-size: $small2fontsize;
			}
		}
	}
}

