@import "maxin";
.header{
	&__nav{
		background-color: $maincolor;
		z-index: 10000;
		position:relative;
		.nav{
			display:flex;
			justify-content:space-around;

			padding: 0 50px;
			&__item{
				
				position:relative;
				>a{
					color:$mainfontcolor;
					font-size: $mainfontsize;
					font-weight: bold;
					padding: 10px 20px;
					display:inline-block;
					
					@media(max-width:1280px){
						font-size: $middle2fontsize;
						font-weight: bold;
						padding: 13px 10px;
					}
					&:hover,&:active,&:focus,&:focus-within{
						background-color: $mainhovercolor;
					}

					@media(max-width: 992px){
						font-size: $middle3fontsize;
					}
					@media(max-width: 640px){
						font-size: $smallfontsize;
					}

				}
				>a:hover,a:active,a:focus{
						background-color: $mainhovercolor;
					}
				&:hover,&:active,&:focus,&:focus-within{
					a{
						background-color: $mainhovercolor;
					}
					>.nav__item__list{
						opacity:1;
						visibility:visible;
						@media(max-width:992px){
							position:relative;
						}
						
						li{
							a{
								background-color: #f9f9f9;
								&:hover,&:active,&:focus,&:focus-within{
									color:$mainfontcolor;
									background-color: $mainhovercolor;
								}
							}
							&:hover,&:active,&:focus,&:focus-within{
								.nav__item__list{
									opacity:1;
									visibility:visible;
									@media(max-width: 992px){
										display: block;
									}

								}
							}
						}
					}

				}
				&.current{
					a{
						background-color: $mainhovercolor;

					}
				}
			}
			@media(max-width:992px){
				flex-direction: column;
				padding-bottom:20px;
				padding-left: 0;
				padding-right:0;
				&__item{
				
					position:relative;
					>a{
						width:100%;
						text-align: center;
						letter-spacing: 0.2em;
					}
				}	
			}
		}
		
		@media(min-width:993px){
			display:block !important;
		}
		@media(max-width:992px){
			display:none;

		}
		.container{
			max-width: 1200px;
			@media(max-width:1280px){
				max-width: 960px;
			}
		}
	}

}


.nav__item__list{
	position:absolute;
	top:100%;
	width:200%;
	max-width:120%;
	visibility: hidden;
	opacity: 0;
	z-index: 100;
	background-color: #f9f9f9;
	@include transition(0.3s);
	span.arrow{
		font-size: 1.2em;
		&:after{
			position:relative;
			right:-10px;
			content: '▸';
			display: inline-block;
		}
	}
	li{
		position:relative;
		a{
			font-size: $subfontsize;
			color:$mainfontcolor;
			letter-spacing:0.02em;
			padding:7px 20px;
			display: flex;
			align-items: center;
			flex-grow: 1;
			justify-content: space-between;
			&:hover{
				background-color: #dddddd;
			}
			@media(max-width:1280px){
				font-size: $middle3fontsize;
			}
			@media(max-width: 992px){
				font-size: $smallfontsize;
			}
			@media(max-width: 640px){
				font-size: $small2fontsize;
			}
		}
		.nav__item__list{
			left:100%;
			top:0;
			visibility: hidden;
			opacity: 0;
			z-index:1000;
			width: 100%;

			
			@media(max-width:992px){
				left:0px;
				position:relative;
				display: none;
			}
		}
		
	}
	&.right{
		span.arrow{
		font-size: 1.2em;

		}
	}
	@media(max-width:992px){
		width:100%;
		max-width:100%;
		margin-left: 0;
		margin-right: 0;
		li{
			a{
				text-align: center;
			}
		}
	}

	&.is-active{
		visibility: visible;
		opacity: 1;
		li{
			a{
				background-color: #f9f9f9 !important;
			}
			a:hover,a:active,a:focus{
				color:#fff;
				background-color: $mainhovercolor !important;
			}
		}
		@media(max-width:992px){
			position:relative;
			top:0;
		}
	}
	@media(max-width:992px){
		span.arrow{
			&:after{
				content: '▾';
			}
		}
	}
}
