.page {
  text-align: left;
  padding-top: 40px;
  display: flex;
  justify-content: space-between;
  -ms-align-items: center;
  align-items: center;
}

.page__total{
  color: #666666;
 font-size: 0.9em;
  letter-spacing: 0.04em;
}


.page ul{
  display: flex;
}
.page ul li {
  display: inline-block;
  vertical-align: middle;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  margin-bottom: 10px;
  background-color: #fff;
  border-top: 1px solid #a9a9a9;
  border-bottom: 1px solid #a9a9a9;
  border-right: 1px solid #a9a9a9;
}

.page ul li:first-child{
  border-left:  1px solid #a9a9a9;
  border-radius: 5px 0 0 5px; 
}


.page ul li:last-child{
  border-radius: 0 5px 5px 0; 

}


.page ul li.current {
  background: #107E86;
}
.page ul li.current a{
    color: #fff;

}    
.page ul li a{
  outline: 0px;

}
.page ul li a:hover{
  background: #107E86;
   color: #fff;
}
.page ul li a:active {
  background: #107E86;
   color: #fff;
}
.page ul li a:focus{
  background: #107E86;
   color: #fff;
}

.page a {
  font-size: 0.9em;
  color: #666666;
  width:35px;
  height: 35px;
  display: inline-block;
  text-align: center;
  line-height: 35px;
  font-family: '微軟正黑體';
}


@media (max-width: 768px) {
 .page {
  flex-direction: column;
 }

.page__total{
  margin-top: 10px;
}
}