@media print {
    .footerLink {
        display: none;
    }
}
.container {
    padding-left: 50px;
    padding-right: 50px;
    max-width: 1366px;
    margin: 0 auto;
}
@media (max-width: 854px) {
    .container {
        padding-left: 30px;
        padding-right: 30px;
    }
}
a:focus {
    box-sizing: border-box;
    outline: 3px dashed #0C777F;
    outline-offset: -2px;
}
button:focus, button:active {
    box-sizing: border-box;
    outline: 4px dashed #0C777F;
}
input:focus, input:active {
    box-sizing: border-box;
    outline: 3px dashed #0C777F;
    outline-offset: -2px;
}
textarea:focus, textarea:active {
    box-sizing: border-box;
    outline: 3px dashed #0C777F;
    outline-offset: -2px;
}
select:focus, select:active {
    box-sizing: border-box;
    outline: 3px dashed #0C777F;
    outline-offset: -2px;
}
#main a.go_header {
    font-size: 1.3em;
    width: 20px;
    height: 30px;
    display: block;
    z-index:10000;
}
#main a.go_header:active, #main a.go_header:focus {
    background-color: #48D1CC;
    color: #fff;
}
#main a.go_header_layout {
    font-size: 1.3em;
    top: 25px;
    left: 0;
    position: absolute;
    width: 20px;
    height: 30px;
    display: block;
    z-index:10000;
}
#main a.go_header_layout:active, #main a.go_header_layout:focus {
    background-color: #48D1CC;
    color: #fff;
}
@media (max-width: 992px) {
    .layout {
        border-top: 10px solid #48D1CC;
    }
}

.bread {
    display: flex;
    justify-content: space-between;
    position: relative;
}
.bread .socialLink {
    padding-top: 40px;
    padding-bottom: 20px;
    display: flex;
}
.bread .socialLink a {
    width: 30px;
    height: 30px;
    margin: 0 3px;
}
.bread .socialLink a img {
    width: 30px;
    height: 30px;
}
@media (max-width: 992px) {
    .bread {
        flex-direction: column;
    }
    .bread .socialLink {
        padding-top: 0px;
        padding-bottom: 40px;
    }
}
.breadcrumb {
    padding-top: 60px;
    padding-bottom: 20px;
    width: 100%;
}
.breadcrumb li {
    color: #000;
    font-size: 1em;
    display: inline-block;
    margin-right: 5px;
}
.breadcrumb li a {
    color: #000;
    margin-right: 5px;
}
@media (max-width: 992px) {
    .breadcrumb li {
        font-size: 0.9em;
    }
}
@media (max-width: 992px) {
    .breadcrumb {
       /* padding-top:20px;*/
    }
}
.mainbody {
    display: flex;
    width: 100%;
    position: relative;
}
.mainbody .main {
    padding: 20px 0 70px 0;
    flex-grow: 1;
}
.mainbody .main--nopd {
    padding: 0;
    max-width: 100%;
}
.mainbody .main--sitemap {
    padding-left: 70px;
    padding-right: 70px;
}
@media (max-width: 640px) {
    .mainbody .main--sitemap {
        padding-left: 0px;
        padding-right: 0px;
    }
}
.mainbody .main--en {
    padding: 50px 0 70px 0;
}
@media (max-width: 1280px) {
    .mainbody .main {
        padding: 0 0 70px 0;
        width: 100%;
    }
}
.mainbody aside {
    padding-top: 20px;
    width: 290px;
    flex-grow: 0;
    flex-shrink: 0;
    padding-right: 70px;
}
@media (max-width: 1280px) {
    .mainbody aside {
        display: none;
    }
}
.aside__tit {
    background-color: #0C777F;
    color: #fff;
    font-size: 1.5em;
    text-align: center;
    padding: 8px 0;
}
.mnav {
    padding: 0 0 100px 0;
}
.mnav__item {
    position: relative;
    width: 100%;
}
.mnav__item>a {
    color: #000;
    padding: 10px 25px;
    display: block;
    font-size: 1.3em;
    border-bottom: 1px solid #ccc;
    width: 100%;
    display: flex;
    align-items: center;
}
.mnav__item>a span {
    background-image: url(../images/open.png);
    position: absolute;
    right: 15px;
    width: 12px;
    height: 12px;
    background-size: 12px;
    background-repeat: no-repeat;
}
.mnav__item>a:hover, .mnav__item>a:focus, .mnav__item>a:active {
    background-color: #F0F0F0;
    color: #0C777F;
}
.mnav__item.open>a {
    color: #0C777F;
}
.mnav__item.open>a span {
    background-image: url(../images/close.png);
}
.mnav__item.current>a {
    background-color: #F0F0F0;
    color: #0C777F;
}
.mnav__item__list {
    background-color: #fff;
    padding: 0 0 0 30px;
    display: none;
    width: 100%;
}
.mnav__item__list li {
    position: relative;
}
.mnav__item__list li a {
    color: #000;
    padding: 13px 10px;
    display: block;
    font-size: 1.3em;
    border-bottom: 1px solid #ccc;
}
.mnav__item__list li a:hover, .mnav__item__list li a:focus, .mnav__item__list li a:active {
    background-color: #F0F0F0;
    color: #0C777F;
}
.mnav__item__list li.current a {
    background-color: #F0F0F0;
    color: #0C777F;
}
.searchbox {
    border: 1px solid #666666;
    border-radius: 20px;
    padding: 0 9px 1px 13px;
}
.searchbox label {
    font-size: 0;
}
.searchbox input {
    width: 120px;
    border: 0;
    font-weight: bold;
    letter-spacing: 0.04em;
    font-size: 1em;
    height: 30px;
}
@media (max-width: 992px) {
    .searchbox input {
        background-color: #48D1CC;
        color: #fff;
        width: 220px;
    }
}
.searchbox button {
    color: #cccccc;
    padding: 0 3px 0 3px;
}
@media (max-width: 992px) {
    .searchbox {
        margin-top: 15px;
        border: 1px solid #fff;
        background-color: #48D1CC;
        color: #fff;
    }
}
.maintit {
    color: #000;
    font-size: 2.2em;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-position: top center;
    background-size: 285px;
    background-repeat: no-repeat;
    padding-top: 40px;
}
.maintit--news {
    background-image: url("../images/news_tit.png");
}
.maintit--link {
    background-image: url("../images/link_tit.png");
}
.maintit--en {
    background-image: url("../images/en_tit.png");
    padding-top: 80px;
    margin-bottom: 40px;
}
@media (max-width: 1280px) {
    .maintit--en {
        margin-top: 40px;
    }
}
@media (max-width: 1280px) {
    .maintit {
        font-size: 1.5em;
    }
}
.maintit.white {
    color: #fff;
}
.maintit.white span {
    color: #fff;
}
.maintit.white:before {
    display: none;
}
.idx {
    padding-top: 30px;
    padding-bottom: 45px;
}
.mainTitle {
    font-size: 1.8em;
    color: #000;
    border-left: 10px solid #2FBBBB;
    padding: 5px 15px;
}
@media (max-width: 992px) {
    .mainTitle {
        font-size: 1.4em;
        padding: 5px 10px;
    }
}
.mainContent {
    margin-top: 20px;
}
@media (max-width: 992px) {
    .mainContent {
        padding: 0 20px;
    }
    .mainContent.nopd {
        padding: 0;
    }
}
.mainSearch {
    max-width: 300px;
    display: flex;
    padding: 10px 0 30px 0;
}
.mainSearch.nopd {
    padding: 0;
}
.mainSearch label {
    font-size: 0;
    height: 0;
}
.mainSearch button {
    background-color: #0C777F;
    color: #fff;
    width: 90px;
    margin-left: 10px;
    border: 1px solid #0C777F;
    font-size: 1em;
}
@media (max-width: 640px) {
    .mainSearch button {
        font-size: 0.9em;
    }
}
.textcontent {
    font-size: 1.1em;
    color: #333333;
    line-height: 1.7;
    letter-spacing: 0.06em;
    margin-bottom: 50px;
}
.textcontent>* {
    font-size: 1.1em;
    color: #333333;
    line-height: 1.7;
    letter-spacing: 0.06em;
}
.textcontent img {
    max-width: 100%;
    height: auto !important;
    margin: 10px 0;
}
@media (max-width: 640px) {
    .textcontent {
        font-size: 0.9em;
    }
    .textcontent>* {
        font-size: 0.9em;
    }
}

.mainTable {
    width: 100%;
}
.mainTable tr {
    display: flex;
    padding: 0 20px;
}
.mainTable tr td, .mainTable tr th {
    text-align: center;
    font-size: 1.12em;
    font-weight: normal;
    padding: 0 15px;
    color: #000;
    display: flex;
    justify-content: center;
}
.mainTable tr td a, .mainTable tr th a {
    display: block;
    padding: 12px 5px;
    color: #000;
}
.mainTable tr td a:hover, .mainTable tr th a:hover {
    color: #0C777F;
}
.mainTable tr td span, .mainTable tr th span {
    padding: 12px 0;
    display: block;
}
.mainTable tr td.tb1, .mainTable tr th.tb1 {
    flex: 1;
}
.mainTable tr td.tb2, .mainTable tr th.tb2 {
    flex: 2;
}
.mainTable tr td.tb3, .mainTable tr th.tb3 {
    flex: 3;
}
.mainTable tr td.tb4, .mainTable tr th.tb4 {
    flex: 4;
}
.mainTable tr td.tb5, .mainTable tr th.tb5 {
    flex: 5;
}
.mainTable tr td.tb6, .mainTable tr th.tb6 {
    flex: 6;
}
.mainTable tr td.tb8, .mainTable tr th.tb8 {
    flex: 8;
}
.mainTable tr td.dl, .mainTable tr th.dl {
    display: flex;
    align-content: center;
    min-width: 200px;
    flex-shrink: 0;
    flex-grow: 0;
    justify-content: center;
}
@media (max-width: 1024px) {
    .mainTable tr td.dl, .mainTable tr th.dl {
        min-width: 150px;
    }
}
.mainTable tr td.left, .mainTable tr th.left {
    text-align: left;
    justify-content: flex-start;
}
.mainTable tr:nth-child(odd) {
    background-color: #F0F0F0;
}
.mainTable tr:nth-child(even) {
    background-color: #FFFFFF;
}
.mainTable tr:first-child {
    background-color: #AEAEAE;
    color: #000;
}
@media (max-width: 992px) {
    .mainTable tr th, .mainTable tr td {
        font-size: 1em;
    }
}
@media (max-width: 854px) {
    .mainTable tr {
        flex-direction: column;
        padding: 10px 5px;
    }
    .mainTable tr td {
        text-align: left;
        display: flex;
        align-items: stretch;
        margin-bottom: 5px;
        word-wrap: break-all;
        font-size: 0.9em;
        padding: 0 10px;
        justify-content: flex-start;
    }
    .mainTable tr td.tb1, .mainTable tr th.tb1 {
        flex-basis: auto;
    }
    .mainTable tr td.tb2, .mainTable tr th.tb2 {
        flex-basis: auto;
    }
    .mainTable tr td.tb3, .mainTable tr th.tb3 {
        flex-basis: auto;
    }
    .mainTable tr td.tb4, .mainTable tr th.tb4 {
        flex-basis: auto;
    }
    .mainTable tr td.tb5, .mainTable tr th.tb5 {
       flex-basis: auto;
    }
    .mainTable tr td.tb6, .mainTable tr th.tb6 {
        flex-basis: auto;
    }
    .mainTable tr td.tb8, .mainTable tr th.tb8 {
        flex-basis: auto;
    }
    .mainTable tr td::before {
        content: attr(data-title);
        position: relative;
        flex-shrink: 0;
        flex-grow: 0;
        background-color: #AEAEAE;
        padding: 5px 15px;
        margin-right: 15px;
        display: flex;
        align-items: center;
        width: 100px;
    }
    .mainTable tr td span {
        padding: 5px 0;
    }
    .mainTable tr td a {
        padding: 5px 0;
    }
    .mainTable tr:first-child {
        display: none;
    }
}
@media (max-width: 640px) {
    .mainTable tr {
        padding: 10px 5px;
    }
    .mainTable tr td {
        padding: 0 5px;
    }
    .mainTable tr td::before {
        width: 60px;
    }
}
.opcTable {
    width: 100%;
    margin-bottom: 50px;
}
.opcTable tr {
    display: flex;
    width: 100%;
    background-color: #F0F0F0;
}
.opcTable tr td, .opcTable tr th {
    text-align: left;
    font-size: 1.12em;
    font-weight: normal;
    padding: 15px;
    color: #000;
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
    display: flex;
}
.opcTable tr td a, .opcTable tr th a {
    display: block;
    padding: 12px 5px;
    color: #000;
}
.opcTable tr td span, .opcTable tr th span {
    padding: 12px 0;
    display: block;
}
.opcTable tr td.tb1, .opcTable tr th.tb1 {
   flex: 1; 
   /* width: 16.6%;*/
}
.opcTable tr td.tb2, .opcTable tr th.tb2 {
    flex: 2;
}
.opcTable tr td.tb3, .opcTable tr th.tb3 {
    flex: 3;
}
.opcTable tr td.tb4, .opcTable tr th.tb4 {
    flex: 4;
}
.opcTable tr td.tb5, .opcTable tr th.tb5 {
    flex: 5;
}
.opcTable tr td.tb6, .opcTable tr th.tb6 {
    flex: 6;
}
.opcTable tr td.tb8, .opcTable tr th.tb8 {
    flex: 8;
}
.opcTable tr td.center, .opcTable tr th.center {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.opcTable tr:first-child {
    background-color: #AEAEAE;
    color: #000;
}
@media (max-width: 992px) {
    .opcTable tr th, .opcTable tr td {
        font-size: 1em;
    }
}
@media (max-width: 854px) {
    .opcTable tr {
        flex-direction: column;
        padding: 0;
        margin-bottom: 30px;
    }
    .opcTable tr td {
        text-align: left;
        display: flex;
       /* align-items: stretch;*/
        word-wrap: break-all;
        font-size: 0.9em;
        padding: 0;
    }
    .opcTable tr td.tb1, .opcTable tr th.tb1 {
       width: 100%;
      flex-basis: auto;
      flex-shrink: 0;
    }
    .opcTable tr td::before {
        content: attr(data-title);
        position: relative;
        flex-shrink: 0;
        flex-grow: 0;
        background-color: #AEAEAE;
        padding: 5px 15px;
        margin-right: 15px;
        display: flex;
        align-items: center;
        width: 50px;
    }
    .opcTable tr td span {
        padding: 15px 0;
    }
    .opcTable tr td a {
        padding: 5px 0;
    }
    .opcTable tr td.time {
        box-sizing: border-box;
        padding-right: 0;
    }
    .opcTable tr td.time span {
        display: none;
    }
    .opcTable tr td.time::before {
        width: 100%;
        margin: 0;
        justify-content: center;
        padding-left: 0;
        padding-right: 0;
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .opcTable tr:first-child {
        display: none;
    }
}
@media (max-width: 640px) {
    .opcTable tr td::before {
        width: 45px;
    }
}
.infoTable {
    width: 100%;
    margin-bottom: 20px;
}
.infoTable tr {
    display: flex;
    padding: 0 20px;
    align-items: center;
}
.infoTable tr td, .infoTable tr th {
    text-align: left;
    font-size: 1.12em;
    font-weight: normal;
    padding: 0 15px;
    color: #000;
    display: flex;
}
.infoTable tr td div, .infoTable tr th div {
    padding: 18px 0;
}
.infoTable tr td span, .infoTable tr th span {
    padding: 18px 0;
    display: block;
}
.infoTable tr td p, .infoTable tr th p {
    display: block;
    padding: 3px 5px;
    color: #000;
}
.infoTable tr td a, .infoTable tr th a {
    display: block;
    padding: 3px 5px;
    color: #003399;
    text-decoration: underline;
}
.infoTable tr td.tb1, .infoTable tr th.tb1 {
    flex: 1;
}
.infoTable tr td.tb2, .infoTable tr th.tb2 {
    flex: 2;
}
.infoTable tr td.tb3, .infoTable tr th.tb3 {
    flex: 3;
}
.infoTable tr td.tb4, .infoTable tr th.tb4 {
    flex: 4;
}
.infoTable tr td.tb5, .infoTable tr th.tb5 {
    flex: 5;
}
.infoTable tr td.tb6, .infoTable tr th.tb6 {
    flex: 6;
}
.infoTable tr td.tb8, .infoTable tr th.tb8 {
    flex: 8;
}
.infoTable tr td.center, .infoTable tr th.center {
    text-align: center;
}
.infoTable tr:nth-child(odd) {
    background-color: #F0F0F0;
}
.infoTable tr:nth-child(even) {
    background-color: #FFFFFF;
}
.infoTable tr:first-child {
    background-color: #AEAEAE;
    color: #000;
}
@media (max-width: 992px) {
    .infoTable tr th, .infoTable tr td {
        font-size: 1em;
    }
}
@media (max-width: 854px) {
    .infoTable tr {
        flex-direction: column;
        align-items: flex-start;
        padding: 10px 5px;
    }
    .infoTable tr td {
        text-align: left;
        display: flex;
        align-items: stretch;
        margin-bottom: 5px;
        word-wrap: break-all;
        font-size: 0.9em;
        padding: 0 10px;
    }
    .infoTable tr td.tb2, .infoTable tr th.tb2 {
        flex-basis: auto;
    }
    .infoTable tr td.tb3, .infoTable tr th.tb3 {
         flex-basis: auto;
    }
    .infoTable tr td::before {
        content: attr(data-title);
        position: relative;
        flex-shrink: 0;
        flex-grow: 0;
        background-color: #AEAEAE;
        padding: 5px 15px;
        margin-right: 15px;
        display: flex;
        align-items: center;
        width: 100px;
    }
    .infoTable tr td span {
        padding: 5px 0;
    }
    .infoTable tr td div {
        padding: 5px 0;
    }
    .infoTable tr td a {
        padding: 5px 0;
    }
    .infoTable tr td p {
        padding: 5px 0;
    }
    .infoTable tr:first-child {
        display: none;
    }
}
@media (max-width: 640px) {
    .infoTable tr {
        padding: 10px 5px;
    }
    .infoTable tr td {
        padding: 0 5px;
    }
    .infoTable tr td::before {
        width: 60px;
    }
}
.photolist {
    display: flex;
    margin-left: -15px;
    margin-right: -15px;
    flex-wrap: wrap;
}
.photolist__item {
    width: 33.3%;
    padding: 0 15px;
    margin-bottom: 40px;
}
.photolist__item__link {
    width: 100%;
    display: block;
}
.photolist__item__link .img {
    width: 100%;
    padding-bottom: 75%;
    background-position: center center;
    background-size: cover;
}
.photolist__item__link .tit {
    font-size: 1.12em;
    color: #000;
    font-weight: bold;
    padding: 10px 0;
}
.photolist__item__link .date {
    font-size: 0.9em;
    color: #666666;
    padding-bottom: 10px;
}
.photolist__item__link:hover .tit, .photolist__item__link:active .tit, .photolist__item__link:focus .tit {
    color: #0C777F;
}

.photolist__item__content {
    font-size: 0;
}
@media (max-width: 992px) {
    .photolist__item__link .tit {
        font-size: 1em;
    }
}
@media (max-width: 854px) {
    .photolist__item {
        width: 50%;
    }
}
@media (max-width: 480px) {
    .photolist__item {
        width: 100%;
    }
    .photolist__item__link .tit {
        padding: 5px 0 0 0;
    }
}
.photoTitle {
    font-size: 1.4em;
    color: #0C777F;
    font-weight: bold;
}
@media (max-width: 854px) {
    .photoTitle {
        font-size: 1.2em;
    }
}
.photoDate {
    font-size: 0.9em;
    color: #666666;
    padding: 5px 0 25px 0;
}
.subTitle {
    font-size: 1.4em;
    color: #000099;
    font-weight: bold;
    padding: 5px 0;
}
@media (max-width: 854px) {
    .subTitle {
        font-size: 1.2em;
    }
}
.contact__imfo {
    padding-bottom: 30px;
}
.formbox {
    padding: 18px 0;
}
.formbox input {
    margin: 8px 0;
    font-size: 1.12em;
}
.formbox textarea {
    margin: 8px 0;
    font-size: 1.12em;
}
.formbox__file {
    padding: 10px 0;
}
.formbox__file input {
    max-width: 70%;
}
.formbox__file button:focus, .formbox__file button:active {
    outline: 3px dashed #F9AC5A;
}
@media (max-width: 640px) {
    .formbox input {
        font-size: 0.9em;
    }
    .formbox textarea {
        font-size: 0.9em;
    }
}
.fontstyle01 {
    color: #333333;
    font-weight: bold;
    font-size: 1.12em;
    display: flex;
    align-items: center;
}
.fontstyle01 .star {
    color: #ff0000;
    font-weight: bold;
    padding-right: 5px;
}
@media (max-width: 640px) {
    .fontstyle01 {
        font-size: 0.9em;
    }
}
.fontstyle02 {
    color: #333333;
    font-size: 1.12em;
}
@media (max-width: 640px) {
    .fontstyle02 {
        font-size: 0.9em;
    }
}
.btnstyle01 {
    color: #fff;
    padding: 5px 15px;
    font-size: 1.12em;
    background-color: #107E86;
}
@media (max-width: 640px) {
    .btnstyle01 {
        font-size: 0.9em;
    }
}
.btnstyle02 {
    color: #fff;
    padding: 8px 15px;
    font-size: 1.12em;
}
.btnstyle02--gray {
    background-color: #666666;
}
.btnstyle02--green {
    background-color: #107E86;
}
@media (max-width: 640px) {
    .btnstyle02 {
        font-size: 0.9em;
    }
}
.btnstyle_return {
    color: #fff;
    padding: 5px 15px;
    font-size: 1em;
    background-color: #107E86;
    border-radius: 20px;
    display: table;
    margin: 0 auto;
}
@media (max-width: 640px) {
    .btnstyle_return {
        font-size: 0.9em;
    }
}
.contact {
    margin: 10px 0;
    display: inline-block;
    width: 100%;
    padding: 0 10px;
}
.input__style01 {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0;
    border: 0;
    box-sizing: border-box;
    box-shadow: 0;
    height: 40px;
    border: 1px solid #CCCCCC;
    width: 100%;
    padding: 0 10px;
    font-size: 1.12em;
}
@media (max-width: 640px) {
    .input__style01 {
        font-size: 1em;
    }
}
.textarea__style01 {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0;
    border: 0;
    box-sizing: border-box;
    box-shadow: 0;
    height: 200px;
    border: 1px solid #CCCCCC;
    width: 100%;
    padding: 0 10px;
    font-size: 1.12em;
}
@media (max-width: 640px) {
    .textarea__style01 {
        font-size: 1em;
    }
}
.btnlist {
    display: flex;
    padding: 20px 0;
}
.btnlist button {
    width: 190px;
    max-width: 45%;
    margin-right: 10px;
}
.text {
    background-color: #F5F5F5;
    color: #000;
    font-size: 1.12em;
    padding: 20px;
    letter-spacing: 0.05em;
    margin: 25px 0 30px 0;
}
.text.nopd {
    background: none;
    padding: 0;
}
@media (max-width: 640px) {
    .text {
        font-size: 1em;
    }
}
.downloadlist {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
}
.downloadlist a {
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    background-size: 85%;
    background-position: center center;
    display: flex;
    margin: 0 2px;
    text-indent: -9999px;
    white-space: nowrap;
    line-height: 0;
}
.downloadlist a.pdf {
    background-image: url("../images/dl_pd.png");
}
.downloadlist a.doc {
    background-image: url("../images/dl_do.png");
}
.downloadlist a.odt {
    background-image: url("../images/dl_od.png");
}
.downloadlist a.jpg {
    background-image: url("../images/dl_jp.png");
}
@media (max-width: 1024px) {
    .downloadlist a {
        width: 30px;
    }
}
@media (max-width: 854px) {
    .downloadlist a {
        width: 40px;
    }
}
@media (max-width: 340px) {
    .downloadlist a {
        width: 35px;
    }
}
@media (max-width: 854px) {
    .downloadlist {
        justify-content: flex-start;
    }
}
.videolist {
    display: flex;
    margin-left: -15px;
    margin-right: -15px;
    flex-wrap: wrap;
}
.videolist__item {
    width: 50%;
    padding: 0 15px;
    margin-bottom: 70px;
}
.videolist__item__link {
    width: 100%;
    display: block;
    position: relative;
    padding-bottom: 58%;
    padding-top: 30px;
    height: 0;
    margin-bottom: 0%;
}
.videolist__item__link .img {
    width: 100%;
    padding-bottom: 75%;
    background-position: center center;
    background-size: cover;
}
.videolist__item__link:hover .tit, .videolist__item__link:active .tit, .videolist__item__link:focus .tit {
    color: #0C777F;
}
.videolist__item__link iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.videolist__item .tit {
    font-size: 1.12em;
    color: #000;
    font-weight: bold;
    padding: 5px 0;
}
.videolist__item .remark {
    font-size: 0.9em;
    color: #000;
    font-weight: bold;
}
.videolist__item .remark a {
    color: #0066CC;
    text-decoration: underline;
}
.videolist__item .date {
    font-size: 0.9em;
    color: #666666;
    padding-top: 10px;
}
@media (max-width: 992px) {
    .videolist__item__link .tit {
        font-size: 1em;
    }
}
@media (max-width: 854px) {
    .videolist__item {
        width: 50%;
    }
}
@media (max-width: 480px) {
    .videolist__item {
        width: 100%;
    }
    .videolist__item__link .tit {
        padding: 5px 0 0 0;
    }
}
/*# sourceMappingURL=base.css.map */



/*------------google search-------*/

input.gsc-input{
    font-size: 1.2em !important;
    padding: 5px 9px 4px 9px  !important;
}

input.gsc-input:focus,input.gsc-input:active{
     outline: 3px dashed #0C777F !important;
     padding: 5px 9px 4px 9px  !important;
}

#gs_tti50{
    padding: 0 !important;
}