.Index{
    display: flex;
    flex-direction: column;

}

.Wrapper{
    width: 100%;
}

.headerWrapper{
    width: 310px;
    background-color: #e8e8e8;
    min-height: 100%;
    flex-shrink: 0;
}

.indexWrapper{
   padding-top: 15px;
   background-repeat: no-repeat;
   background-size:  100% 15px ;
}

.htmlTop{
    width: 100%;
    display: flex;
    flex-direction: row;
}


.body{
   width: calc(100% - 310px);
   padding-top: 15px;
   background-image: url(../images/border.png);
   background-repeat: no-repeat;
   background-size:  100% 15px ;
   padding-left: 40px;
   padding-right: 40px; 
}

.layout {
    border-color: #fb6376;
}
.container{
    max-width: 100%;
}
@media(max-width: 1280px){
    .body{
       padding-left: 20px;
       padding-right: 20px; 
    }

    .headerWrapper{
        width: 250px;
    }
    .body{
       width: calc(100% - 250px);
    }
}


.Index .container{
    max-width: 100%;
    padding-left: 0;
    padding-right:0;
    margin: 0;
    width: 100%;
}



footer .footer .container{
    padding-left: 50px;
    padding-right: 50px;
    max-width: 1366px;
    margin: 0 auto;
}

@media(max-width: 992px){
    .indexWrapper{
       padding-top: 0px;
    }
    .htmlTop{
        flex-direction: column;
    }
    .headerWrapper{
        width: 100%;
    }
    .body{
       width: 100%;
       background: none;
       padding-left: 0;
       padding-right: 0;
       padding-top: 0;
    }
    .Index .container{
        padding-left: 30px;
        padding-right: 30px;
    }

}


.mainbody aside {
    display: none;
}

html.openaside {
    position: fixed;
    width: 100%;
}
body {
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    display: flex;
    flex-direction: row;
}
body.openaside {
    transform: translateX(250px);
    -moz-transform: translateX(250px);
    -webkit-transform: translateX(250px);
    -o-transform: translateX(250px);
    -ms-transform: translateX(250px);
}
.header__top {
    position: relative;
    /*height: 139px;*/
    background-color: #5d2a42;
}
.header__top h1 {
    width: 100%;
    flex-shrink: 0;
    padding: 0 20px 15px 20px;
    background-size: 100%;
    background-size: cover;
    background-position: bottom center;
    background-image: url(../images/logo_bg.png);

}
.header__top h1 a {
    /*display: block;*/
    padding: 10px;
    font-size: 1.65em;
    color: #fff;
    font-weight: bold;
    letter-spacing: 0em;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.header__top h1 img {
    max-width: 75px;
    margin-right: 13px;
}

@media (max-width: 1280px) {
    .header__top h1 {
        padding: 0 10px 15px 10px;
    }
    .header__top h1 a {
        font-size: 1.4em;
        color: #5d2a42;
    }
}


@media (max-width: 992px) {
    .header__top h1 {
        padding-bottom: 10px;
        max-width: 100%;
        width: 100%;
        margin-right: 0;
        margin-left: 0;
        background-color: #fff;
         background-image: url(../images/mobile_bg.png);
    }
    .header__top h1 a {
        justify-content: center;
        font-size: 1.6em;
        padding: 5px;
        flex-direction: row;
    }
    .header__top {
        background-color: #fff;
    }
}
@media (max-width: 640px) {
    .header__top h1 img {
        max-width: 60px;
    }
    .header__top h1 a {
        font-size: 1.4em;
    }
}
@media (max-width: 480px) {
    .header__top h1 {
        padding-right: 20px;
    }
    .header__top h1 img {
        max-width: 40px;
    }
    .header__top h1 a {
        font-size: 1em;
    }
}
@media (max-width: 330px) {
    .header__top h1 {
        max-width: 90%;
        width: 90%;
        margin-right: 5%;
        margin-left: 5%;
    }
    .header__top h1 img {
        max-width: 35px;
    }
    .header__top h1 a {
        font-size: 0.9em;
    }
}
.header__top h1.en {
    max-width: 460px;
    background:none;
}
.header__top h1.en a {
    font-size: 1.2em;
    flex-direction: row;
    color: #fff;
}
html[lang='en']  .header__top__link .top a{
    color:#fff;
}
html[lang='en']  .header__top__link .top{
    color:#fff;
}
@media(max-width: 992px){
    .header__top h1.en a {
        color:#5d2a42;
    }
}
.header__top {
    display: flex;
    /*padding-top: 20px;
    padding-bottom: 20px;*/
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}
.header__top__link {
    display: flex;
    flex-grow: 1;
    padding-left: 10%;
    flex-direction: column;
    width: 100%;
    align-items: flex-end;
    padding-top: 20px;
}
.header__top__link .top {
    display: flex;
    align-items: center;
    padding-right: 20px;
    justify-content: flex-end;
}
.header__top__link .top>* {
    margin: 0 7px;
}
.header__top__link .top a {
    color: #000000;
    font-size: 1em;
    vertical-align: middle;
    padding: 5px;
}
.header__top__link .top a:hover {
    color: #0C777F;
    text-shadow: 0.02em 0px #bd5700;
}

.header__top__link #___gcse_0{
    width: 80%!important;
}

@media (max-width: 1280px) {
    .header__top {
        align-items: center;
    }
}
@media (max-width: 992px) {
  .gsc-control-cse {
      width: 100%!important;
      background-color: #5d2a42!important;
      /*margin-left: -15% !important;*/
      font-family: arial, sans-serif;
      border: 0!important;
      max-width: 100%;
  }
  .header__top__link #___gcse_0{
        width: 300px!important;
    }
    .header__top {
        flex-direction: column;
        padding-bottom: 0;
        padding-top: 10px;
    }
    .header__top__link {
        align-items: center;
        background-color: #5d2a42;
        justify-content: center;
        /* text-align: center; */
        flex-direction: column;
        padding: 15px 0;
        display: none;
    }
    .header__top__link .top {
        color: #fff;
        padding-right: 0;
    }
    .header__top__link .top a {
        color: #fff;
    }
    .header__top__link.open {
        display: flex;
    }
}
.header__top .go_main {
    position: absolute;
    left: 5px;
    top: 5px;
    width: 40px;
    text-align: center;
    font-size: 0;
    padding: 3px;
}
.header__top .go_main:active, .header__top .go_main:focus {
    background-color: #592d86;
    color: #fff;
    font-size: 1em;
}
.mobile_btn {
    position: absolute;
    left: 0;
    /* top: 40px; */
    top: 0;
    display: none;
    padding-left: 0;
    text-indent: -9999px;
    white-space: nowrap;
    line-height: 0;
    background-color: none;
    width: 80px;
    height: 103px;
   
    align-items: center;
    justify-content: center;
}
@media (max-width: 992px) {
    .mobile_btn {
        display: flex;

    }
}
@media (max-width: 640px) {
    .mobile_btn {
        width: 60px;
        height: 88px;
    }
}
@media (max-width: 480px) {
    .mobile_btn {
         height: 69px;
    }
}
#nav-icon1, #nav-icon2, #nav-icon3, #nav-icon4 {
    width: 30px;
    height: 20px;
    position: relative;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
}
/* line 791, ../scss/base.scss */

#nav-icon1 span, #nav-icon3 span, #nav-icon4 span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background: #5d2a42;
    opacity: 1;
    left: 0;
    border: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}
/* line 810, ../scss/base.scss */

#nav-icon4 span:nth-child(1) {
    top: 0px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}
/* line 818, ../scss/base.scss */

#nav-icon4 span:nth-child(2) {
    top: 7px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}
/* line 826, ../scss/base.scss */

#nav-icon4 span:nth-child(3) {
    top: 14px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}
/* line 834, ../scss/base.scss */

#nav-icon4.open span:nth-child(1) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    left: 0px;
    top: 1;
    width: 30px;
}
/* line 844, ../scss/base.scss */

#nav-icon4.open span:nth-child(2) {
    width: 0%;
    opacity: 0;
}
/* line 850, ../scss/base.scss */

#nav-icon4.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    left: 0px;
    top: 21px;
    width: 30px;
}



/*--------------------------------------------------*/










.header__nav {
    background-color: #e8e8e8;
    z-index: 10000;
    position: relative;
}

.header__nav .nav {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.header__nav .nav__item {
    position: relative;
}

.header__nav .nav__item>a {
    color: #5d2a42;
    font-size: 1.4em;
    font-weight: bold;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 15px 35px;
    border-bottom: 1px solid #cccccc;
}

.header__nav .nav__item>a:hover{
    color: #fff;
    background-color: #5d2a42;
}
.header__nav .nav__item>a:hover::after{
    color: #fff;
}

.header__nav .nav__item>a:focus{
    color: #fff;
    background-color: #5d2a42;
}
.header__nav .nav__item>a:focus::after{
    color: #fff;
}
.header__nav .nav__item>a::after{
    color: #5d2a42;
    content:'⌵';
    position: absolute;
    right: 25px;
    top: 12px;
}
.header__nav .nav__item>a:hover img {
    filter: drop-shadow(100px 0px #fff);
}
.header__nav .nav__item>a:focus img {
    filter: drop-shadow(100px 0px #fff);
}

.header__nav .nav__item>a img {
   width: 25px;
    position: relative;
    /* right: 0; */
    left: -95px;
    box-sizing: content-box;
    margin-right: 12px;
    border-right: 10px solid transparent;
    overflow: hidden;
    filter: drop-shadow(100px 0px #5d2a42);
}

@media (max-width: 1280px) {
    .header__nav .nav__item>a {
        font-size: 1em;
        font-weight: bold;
        padding: 13px 10px;
    }
}

@media (max-width: 992px) {
    .header__nav .nav__item>a {
        font-size: 1.12em;
    }
}
@media (max-width: 640px) {
    .header__nav .nav__item>a {
        font-size: 1em;
    }
}
.header__nav .nav__item.current>a {
    background-color: #541d38;
    color: #fff;
    border-bottom: 0 solid #000;
}
.header__nav .nav__item.current>a::after{
    color: #fff;
}
.header__nav .nav__item.current >.nav__item__list{
    display: block;
}


.header__nav .nav__item.current>a img {
    filter: drop-shadow(100px 0px #fff);
}
@media (max-width: 992px) {
    .header__nav .nav {
        flex-direction: column;
        padding-bottom: 20px;
        padding-left: 0;
        padding-right: 0;
    }
    .header__nav .nav__item {
        position: relative;
    }
    .header__nav .nav__item>a {
        width: 100%;
        text-align: center;
        letter-spacing: 0.2em;
    }
}
@media (min-width: 993px) {
    .header__nav {
        display: block !important;
    }
}
@media (max-width: 992px) {
    .header__nav {
        display: none;
    }
}
.header__nav .container {
    max-width: 1200px;
}
@media (max-width: 1280px) {
    .header__nav .container {
        max-width: 960px;
    }
}
.nav__item__list {
    /*position: absolute;
    top: 100%;
    width: 200%;
    max-width: 120%;*/
    width: 100%;
    display: none;

    z-index: 100;
    background-color: #bf4055;
}
.nav__item__list span.arrow {
    font-size: 1.2em;
}
.nav__item__list span.arrow:after {
    position: relative;
    right: -10px;
    content: '▸';
    display: inline-block;
}
.nav__item__list li {
    position: relative;
}
.nav__item__list li a {
    font-size: 1.4em;
    color: #fff;
    letter-spacing: 0.02em;
    padding: 7px 20px 7px 82px;
    display: flex;
    align-items: center;
    flex-grow: 1;
    justify-content: space-between;
}

@media (max-width: 1280px) {
    .nav__item__list li a {
        font-size: 1.12em;
    }
}
@media (max-width: 992px) {
    .nav__item__list li a {
        font-size: 1em;
    }
}
@media (max-width: 640px) {
    .nav__item__list li a {
        font-size: 0.9em;
    }
}
.nav__item__list li .nav__item__list {
    left: 100%;
    top: 0;
    z-index: 1000;
    width: 100%;
}
@media (max-width: 992px) {
    .nav__item__list li .nav__item__list {
        left: 0px;
        position: relative;
        display: none;
    }
}
.nav__item__list.right span.arrow {
    font-size: 1.2em;
}
@media (max-width: 992px) {
    .nav__item__list {
        width: 100%;
        max-width: 100%;
        margin-left: 0;
        margin-right: 0;
    }
    .nav__item__list li a {
        text-align: center;
    }
}
.nav__item__list.is-active {
    visibility: visible;
    opacity: 1;
}

.nav__item__list.is-active>li>a {
    background-color: #f9f9f9 ;
}

@media (max-width: 992px) {
    .nav__item__list.is-active {
        position: relative;
        top: 0;
    }
}
@media (max-width: 992px) {
    .nav__item__list span.arrow:after {
        content: '▾';
    }
}


.header__nav .nav__item:hover>.nav__item__list, .header__nav .nav__item:active>.nav__item__list, .header__nav .nav__item:focus>.nav__item__list, .header__nav .nav__item:focus-within>.nav__item__list {
    opacity: 1;
    visibility: visible;
}
@media (max-width: 992px) {
    .header__nav .nav__item:hover>.nav__item__list, .header__nav .nav__item:active>.nav__item__list, .header__nav .nav__item:focus>.nav__item__list, .header__nav .nav__item:focus-within>.nav__item__list {
        position: relative;
    }
}

.header__nav .nav__item:hover>.nav__item__list li a:hover, .header__nav .nav__item:hover>.nav__item__list li a:active, .header__nav .nav__item:hover>.nav__item__list li a:focus, .header__nav .nav__item:hover>.nav__item__list li a:focus-within, .header__nav .nav__item:active>.nav__item__list li a:hover, .header__nav .nav__item:active>.nav__item__list li a:active, .header__nav .nav__item:active>.nav__item__list li a:focus, .header__nav .nav__item:active>.nav__item__list li a:focus-within, .header__nav .nav__item:focus>.nav__item__list li a:hover, .header__nav .nav__item:focus>.nav__item__list li a:active, .header__nav .nav__item:focus>.nav__item__list li a:focus, .header__nav .nav__item:focus>.nav__item__list li a:focus-within, .header__nav .nav__item:focus-within>.nav__item__list li a:hover, .header__nav .nav__item:focus-within>.nav__item__list li a:active, .header__nav .nav__item:focus-within>.nav__item__list li a:focus, .header__nav .nav__item:focus-within>.nav__item__list li a:focus-within {
    color: #000;
    background-color: #e8e8e8;
}
.header__nav .nav__item:hover>.nav__item__list li:hover .nav__item__list, .header__nav .nav__item:hover>.nav__item__list li:active .nav__item__list, .header__nav .nav__item:hover>.nav__item__list li:focus .nav__item__list, .header__nav .nav__item:hover>.nav__item__list li:focus-within .nav__item__list, .header__nav .nav__item:active>.nav__item__list li:hover .nav__item__list, .header__nav .nav__item:active>.nav__item__list li:active .nav__item__list, .header__nav .nav__item:active>.nav__item__list li:focus .nav__item__list, .header__nav .nav__item:active>.nav__item__list li:focus-within .nav__item__list, .header__nav .nav__item:focus>.nav__item__list li:hover .nav__item__list, .header__nav .nav__item:focus>.nav__item__list li:active .nav__item__list, .header__nav .nav__item:focus>.nav__item__list li:focus .nav__item__list, .header__nav .nav__item:focus>.nav__item__list li:focus-within .nav__item__list, .header__nav .nav__item:focus-within>.nav__item__list li:hover .nav__item__list, .header__nav .nav__item:focus-within>.nav__item__list li:active .nav__item__list, .header__nav .nav__item:focus-within>.nav__item__list li:focus .nav__item__list, .header__nav .nav__item:focus-within>.nav__item__list li:focus-within .nav__item__list {
    opacity: 1;
    visibility: visible;
}
@media (max-width: 992px) {
    .header__nav .nav__item:hover>.nav__item__list li:hover .nav__item__list, .header__nav .nav__item:hover>.nav__item__list li:active .nav__item__list, .header__nav .nav__item:hover>.nav__item__list li:focus .nav__item__list, .header__nav .nav__item:hover>.nav__item__list li:focus-within .nav__item__list, .header__nav .nav__item:active>.nav__item__list li:hover .nav__item__list, .header__nav .nav__item:active>.nav__item__list li:active .nav__item__list, .header__nav .nav__item:active>.nav__item__list li:focus .nav__item__list, .header__nav .nav__item:active>.nav__item__list li:focus-within .nav__item__list, .header__nav .nav__item:focus>.nav__item__list li:hover .nav__item__list, .header__nav .nav__item:focus>.nav__item__list li:active .nav__item__list, .header__nav .nav__item:focus>.nav__item__list li:focus .nav__item__list, .header__nav .nav__item:focus>.nav__item__list li:focus-within .nav__item__list, .header__nav .nav__item:focus-within>.nav__item__list li:hover .nav__item__list, .header__nav .nav__item:focus-within>.nav__item__list li:active .nav__item__list, .header__nav .nav__item:focus-within>.nav__item__list li:focus .nav__item__list, .header__nav .nav__item:focus-within>.nav__item__list li:focus-within .nav__item__list {
        display: block;
    }
}



.nav__item__second:hover .nav__item__list{
    opacity: 1;
    visibility: visible;
}
.nav__item__second:active .nav__item__list{
    opacity: 1;
    visibility: visible;
}

.nav__item__second:focus-within .nav__item__list{
    opacity: 1;
    visibility: visible;
}
.nav__item__second:focus .nav__item__list{
    opacity: 1;
    visibility: visible;
}
/*
.nav__item__second:active .nav__item__list{
    opacity: 1;
    visibility: visible;
}
.nav__item__second:focus-within .nav__item__list{
    opacity: 1;
    visibility: visible;
}
.nav__item__second:focus .nav__item__list{
    opacity: 1;
    visibility: visible;
}
*/

.nav__item__list li .nav__item__list.nav__item__second__list.is-active {
    visibility: visible;
    opacity: 1;
}









.maintit {
    align-items:flex-start;
    justify-content: flex-start;
    background-position: left bottom;
    background-size: 55px;
    padding-top: 22px;
    padding-left: 70px;
    position: relative;
    padding-bottom: 8px;
    font-size:2em;
}

.maintit::after{
    content: '';
    width: calc(100% - 55px);
    height: 1px;
    left: 55px;
    background-color: #cccccc;
    position: absolute;
    bottom: 0;
}

.maintit--news {
    background-image: url(../images/news_iconC.png);
}

.maintit-service {
    background-image: url(../images/service_iconC.png);
}

.maintit--link{
    background-image: url(../images/link_iconC.png);
}

.maintit--social{
    background-image: url(../images/social_iconC.png);
}
.maintit--en{
    background-image: url(../images/social_iconC.png);
}

.mainC .container{
    display: flex;
    padding-bottom: 80px;
}

@media(max-width: 854px){
    .mainC .container{
        flex-direction: column;
    }
}

.mainC--gray{
    background-color: #f5f5f5;
   
}


.mainC{
    display: flex;
}


/*---------------------------------------------------*/








.idxmarquee {
    background-color: #F5F5F5;
    padding: 10px 0;
}
.idxmarquee__list {
    padding: 0 170px;
    background-image: url("../images/marquee_icon_styleE.png");
    background-size: 40px;
    background-position: left 125px center;
    background-repeat: no-repeat;
}
.idxmarquee__list a {
    font-size: 1.4em;
    line-height: 1.5;
    color: #333333;
    display: flex;
    align-items: center;
    min-height: 60px;
    padding-left: 5px;
    border: 3px dashed #F5F5F5;
}
.idxmarquee__list a:focus,.idxmarquee__list a:active {
    border: 3px dashed #0C777F;
}
@media (max-width: 1280px) {
    .idxmarquee__list {
        padding: 0 120px;
        background-position: left 70px center;
    }
    .idxmarquee__list a {
        font-size: 1.3em;
    }
}
@media (max-width: 992px) {
    .idxmarquee__list {
        padding: 0 50px;
        background-position: left 0px center;
    }
}
@media (max-width: 640px) {
    .idxmarquee__list {
        background-size: 30px;
    }
    .idxmarquee__list a {
        font-size: 0.9em;
        min-height: 40px;
    }
    
}

.idxservice{
    width: 100%;
    flex-shrink: 0;

}

@media(max-width: 980px){
    .idxservice{
        width: 100%;
    }
    .idxservice__list__item{
         width: 33.3%;
    }

    .idxservice__list__item img {
      
    }
}

.idxservice__list {
    padding:20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    margin: 20px auto 20px auto;
    background-image: url('../images/E_bg.png');
    background-size: cover;
}

.idxservice__list__item{
    margin-bottom: 5px;
}
.idxservice__list__item img {
   width: 140px;
}
.idxservice__list__item p {
    font-size: 1.5em;
    color: #000;
    text-align: center;
    margin-top: 10px;
}
.idxservice__list__item a {
    display: block;
    text-align: center;
    padding: 8px;
}
.idxservice__list__item a:hover p, .idxservice__list__item a:focus p, .idxservice__list__item a:active p {
    color: #0C777F;
}
@media (max-width: 1280px) {
    .idxservice__list__item img {
        /*width: 150px;*/
    }
}
@media (max-width: 992px) {
    .idxservice__list {
        padding: 0;
    }
    .idxservice__list__item img {
        width: 130px;
    }
    .idxservice__list__item p {
        font-size: 1.3em;
    }
}
@media (max-width: 640px) {
    .idxservice__list {
        flex-wrap: wrap;
    }
    .idxservice__list__item {
        width: 50%;
        margin-bottom: 25px;
    }
    .idxservice__list__item img {
        width: 110px;
    }
    .idxservice__list__item p {
        font-size: 1.2em;
        margin-top: 5px;
    }
}
@media (max-width: 340px) {
    .idxservice__list__item img {
        width: 100px;
    }
}
.idxnews__tit {
    padding: 10px 0;
    background-color: #48D1CC;
    color: #000;
    display: none;
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    margin-top: 30px;
}
.idxnews {
    padding: 50px 0 0 0;
    flex-shrink: 1;
    width: 100%;
    margin-top: 10px;
}

@media(max-width: 980px){
    .idxnews {
         width:100%;
         margin-left: 0;
         padding-top: 0;
    }
   
}

.idxnews__tab {
    /*display: flex;*/
    width: 100%;
    margin-top: 50px;
    position: relative;
}
.idxnews__tab__item {
    font-size: 1.5em;
    font-weight: bold;
    width: 50%;
    text-align: center;
    border-right: 2px solid #fff;
    position: relative;
}
/*
.idxnews__tab__item:last-child {
    border: 0;
    position: absolute;
    top: 0;
    left: 50%;
}*/

.idxnews__tab__item--right {
    border: 0;
    position: absolute;
    top: 0;
    left: 50%;
}
.idxnews__tab__item>a {
    padding: 10px 0;
    background-color: #cccccc;
    color: #000;
    display: block;
}
.idxnews__tab__item>a.active, .idxnews__tab__item>a:focus {
    background-color: #bf4055;
    color: #fff;
    outline: 2px solid #F9AC5A;
}
.idxnews__tab__item.active a {
    background-color: #bf4055;
     color: #fff;
}


.idxnews__tab__item a::after{
    content: '';
    width: 0;
    height: 0;
    top: 100%;
    opacity: 0;
    position: absolute;
    left: calc(50% - 8px);
    border-style: solid;
    border-width: 15px 15px 0 15px;
    border-color: #bf4055 transparent transparent transparent;
    z-index: 1000000;
}

.idxnews__tab__item.active a::after{
   opacity:1;
}

@media (max-width: 854px) {
    .idxnews__tab__item {
        font-size: 1.4em;
    }
}
@media (max-width: 640px) {
    .idxnews__tab__item {
        font-size: 1em;
    }
}
.idxnews__list {
    background-color: #fff;
    padding: 20px 25px 80px 25px;
    display: none;
    width: 100%;
}
.idxnews__list__item {
    display: flex;
    justify-content: flex-start;
    padding: 10px 0px;
    letter-spacing: 0.03em;
    border-bottom: 1px solid #CCCCCC;
}
.idxnews__list__item p.date {
    text-align: center;
    font-size: 1.3em;
    width: 200px;
    flex-shrink: 0;
}
.idxnews__list__item a {
    color: #000;
    font-size: 1.3em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    position: relative;
    top: 0;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.idxnews__list__item a:hover {
    top: -3px;
}
@media (max-width: 992px) {
    .idxnews__list__item {
        padding: 10px 0px;
    }
    .idxnews__list__item p.date {
        font-size: 1.2em;
        margin-right: 5px;
    }
    .idxnews__list__item a {
        font-size: 1.2em;
    }
}
@media (max-width: 640px) {
    .idxnews__list__item p.date {
        font-size: 0.9em;
        width: 110px;
    }
    .idxnews__list__item a {
        font-size: 0.9em;
    }
}
@media (max-width: 340px) {
    .idxnews__list__item p.date {
        display: none;
    }
}
.idxnews__list .more {
    color: #000;
    border: 1px solid #000;
    background-color: none;
    font-size: 1em;
    font-weight: bold;
    letter-spacing: 0.05em;
    float: right;
    margin-top: 30px;
    padding: 3px 10px 3px 5px;
    border-radius: 15px;
    display: flex;
    align-items: center;
}
.idxnews__list .more i {
    margin: 2px 5px 0 5px;
    font-size: 0.7em;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.idxnews__list .more:hover i {
    transform: rotate(90deg);
}
.idxnews__list.active {
    display: block;
}

.idxlink{
    width: calc(50% - 35px);
    margin-left: 36px;
}

@media(max-width: 854px){
    .idxlink {
         width:100%;
         margin-left: 0;
    }
   
}

.idxlink__list {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.idxlink__list li {
    padding: 10px;
    display: flex;
    align-content: center;
    text-align: center;
    width: 50%;
}

@media(min-width: 981px){
  .idxlink__list li:nth-child(n+5){
        display: none;
    }  
}


@media(max-width: 980px){
  .idxlink__list li:nth-child(n+7){
        display: none;
    }  
}
.idxlink__list li a {
    width: 100%;
    display: block;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    position: relative;
    border: 1px solid #CCCCCC;
    top: 0;
    background-position: center center;
    background-size: cover;
    padding-bottom: 40%;
    background-repeat: no-repeat;
    font-size: 0;
}
.idxlink__list li a img {
    max-width: 100%;
}
.idxlink__list li a:hover, .idxlink__list li a:focus, .idxlink__list li a:active {
    top: -5px;
}
@media (max-width: 992px) {
    .idxlink__list li {
        width: 33.3%;
    }
}
@media (max-width: 640px) {
    .idxlink__list li {
        width: 50%;
    }
}
.idxlink .more {
    color: #000;
    border: 1px solid #000;
    background-color: none;
    font-size: 1em;
    font-weight: bold;
    letter-spacing: 0.05em;
    float: right;
    margin-top: 30px;
    padding: 3px 10px 3px 5px;
    border-radius: 15px;
    display: flex;
    align-items: center;
}
.idxlink .more i {
    margin: 2px 5px 0 5px;
    font-size: 0.7em;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.idxlink .more:hover i {
    transform: rotate(90deg);
}




.idxsocial{
    width: calc(50% - 35px);
    margin-right: 36px;

}

.facebook{
    padding: 25px 30px 0 30px;
    width: 100%;
    text-align: center;
}


@media(max-width: 854px){
    .idxsocial {
         width:100%;
         margin-right: 0;
    }
    .facebook{
        padding: 25px 0 0 0 ;
    }
   
}








/*# sourceMappingURL=index.css.map */

.bannerslider .slick-slide a{
    display: block;
}
.bannerslider .slick-slide a:focus,.slick-slide a:active {
    outline: 0px dashed #0C777F;
    outline-offset: -5px;
    border: 5px dashed #0C777F;
}


.footerLink {
    border-top: 10px solid #5d2a42;
    background-color: #fee9e2;
}
.footerLink .container {
    position: relative;
    padding-left: 50px;
    padding-right: 50px;
    max-width: 1366px;
    margin: 0 auto;
}
.footerLink__list {
    width: 100%;
    padding: 30px 0 50px 0;
    display: flex;
}
.footerLink__list--en {
    justify-content: center;
    text-align: center;
}
.footerLink__list__item {
    width: 16.5%;
    padding: 0 15px;
}
.footerLink__list__item p {
    color: #333333;
    font-size: 1.3em;
    font-weight: bold;
    border-bottom: 1px solid #333333;
    padding: 10px;
    margin-bottom: 10px;
}
.footerLink__list__item a {
    color: #333333;
    font-size: 1.2em;
    padding: 2px 10px;
    width: 100%;
    display: block;
}
.footerLink__list__item a:hover, .footerLink__list__item a:focus, .footerLink__list__item a:active {
    background-color: #F9AC5A;
}
@media (max-width: 1280px) {
    .footerLink__list__item {
        padding: 0 10px;
    }
}
@media (max-width: 992px) {
    .footerLink__list__item {
        padding: 0 10px;
        width: 33.3%;
        margin-bottom: 50px;
    }
    .footerLink__list__item p {
        font-size: 1.2em;
        padding: 5px;
    }
    .footerLink__list__item a {
        font-size: 1em;
        padding: 2px 5px;
    }
}
@media (max-width: 640px) {
    .footerLink__list__item {
        width: 50%;
    }
    .footerLink__list__item p {
        font-size: 1em;
        padding: 5px;
        text-align: center;
    }
    .footerLink__list__item a {
        font-size: 0.9em;
        padding: 2px 5px;
        text-align: center;
    }
}
@media (max-width: 992px) {
    .footerLink__list {
        flex-wrap: wrap;
    }
}
.footerLink .footerBtn {
    position: absolute;
    right: 0;
    top: -40px;
    height: 30px;
    padding: 5px 10px;
    background-color: #5d2a42;
    color: #fff;
    font-size: 1em;
    font-weight: bold;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
footer {
   
    position: relative;
}
footer .footer {
    background-color: #333333;
    padding: 40px 0;
    color: #fff;
}
footer .footer .container {
    position: relative;
}
footer .footer .gotop {
    position: absolute;
    right: 0;
    top: 20px;
}
footer .footer a {
    color: #fff;
    font-size: 1em;
}
footer .footer__imfo {
    text-align: left;
}
footer .footer__imfo p {
    font-size: 1em;
    line-height: 1.5;
    margin-bottom: 5px;
    letter-spacing: 0.04em;
}
footer .footer__imfo p span:after {
    content: '/';
    display: inline-block;
    padding: 0 5px;
}
footer .footer__imfo p span:last-child:after {
    display: none;
}
@media (max-width: 992px) {
    footer .footer a {
        font-size: 0.9em;
    }
    footer .footer__imfo p {
        font-size: 0.9em;
    }
    footer .footer__imfo p span {
        display: inline-block;
    }
}
@media (max-width: 640px) {
    footer .footer {
        text-align: center;
    }
    footer .footer a {
        font-size: 0.8em;
    }
    footer .footer__imfo {
        text-align: center;
    }
    footer .footer__imfo p {
        font-size: 0.8em;
    }
    footer .footer__imfo p a {
        font-size: 1em;
    }
    footer .footer__imfo p span {
        display: block;
    }
    footer .footer__imfo p span:after {
        display: none;
    }
    footer .footer__imfo p.statement {
        margin-top: 10px;
    }
}
footer .AA {
    position: absolute;
    right: 50px;
    top: 0;
}
footer .AA img {
    width: 135px;
}
@media (max-width: 854px) {
    footer .AA {
        right: 30px;
    }
}
@media (max-width: 640px) {
    footer .AA {
        position: relative;
        right: 0;
        margin-top: 30px;
        text-align: center;
    }
}



.mobileLink{
    position: fixed;
    width: 100%;
    background-color: #cccccc;
    bottom: 0;
    z-index: 100000000;
    justify-content: space-between;
    padding: 15px 30px;
    display: none;
}

@media(max-width: 980px){
    .mobileLink{
        display: flex;
    }
}

.mobileLink__item{
    font-size: 1em;
    color: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bold;

}


.mobileLink__item img{
    max-width: 30px;
    margin-bottom: 5px;
}

@media(max-width: 480px){
    .mobileLink{
        padding: 10px 15px;
    }
    .mobileLink__item img{
        max-width: 25px;
    }
    .mobileLink__item{
        font-size: 0.9em;
    }
}