<div class="main-container">

    <div class="main-content">
    
        <div class="row">
        
            <div class="col-sm-10 col-sm-offset-1">
            
                <div class="login-container">
                
                    <div class="center">
                    
                        <h1>
                            <i class="ace-icon fa fa-leaf green"></i>
                            <span class="red">憶瀞</span>
                            <span class="white" id="id-text2">後台管理系統</span>
                        </h1>
                        <h4 class="blue" id="id-company-text">&copy; <a target="_blank">憶瀞</a></h4>
                    </div>

                    <div class="space-6"></div>

                    <div class="position-relative">
                    
                        <div id="chpsd-box" class="login-box visible widget-box no-border">
                        
                            <div class="widget-body">
                            
                                <div class="widget-main">
                                
                                    <!--<div class="navbar-fixed-top align-right navbar-absolute">
                                        <br />
                                        &nbsp;
                                        <a id="btn-login-dark" href="#">Dark</a>
                                        &nbsp;
                                        <span class="blue">/</span>
                                        &nbsp;
                                        <a id="btn-login-blur" href="#">Blur</a>
                                        &nbsp;
                                        <span class="blue">/</span>
                                        &nbsp;
                                        <a id="btn-login-light" href="#">Light</a>
                                        &nbsp; &nbsp; &nbsp;
                                    </div>-->
                                    <h4 class="header blue lighter bigger">
                                        <i class="ace-icon fa fa-coffee green"></i>
                                        更改密碼
                                    </h4>

                                    <div class="space-6"></div>

                                    <form id="chpsd_form">
                                        <fieldset>
                                            <label class="block clearfix">
                                                <span class="block input-icon input-icon-right">
                                                    <input id="account" name="account" type="text" class="form-control" placeholder="使用者帳號"  readonly/>
                                                </span>
                                            </label>
                                            <label class="block clearfix">
                                                <span class="block input-icon input-icon-right">
                                                    <input id="password" name="password" type="password" class="form-control" placeholder="新密碼" autocomplete="off" msg="請輸入新密碼" input-type="repassword" input-re-id="comfirm_password" input-name="新密碼" input-min="6"/>
                                                    <i class="ace-icon fa fa-lock"></i>
                                                </span>
                                            </label>

                                            <label class="block clearfix">
                                                <span class="block input-icon input-icon-right">
                                                    <input id="comfirm_password" name="comfirm_password" type="password" class="form-control" placeholder="確認密碼" autocomplete="off" msg="請輸入確認密碼" input-name="重複確認密碼"/>
                                                    <i class="ace-icon fa fa-lock"></i>
                                                </span>
                                            </label>

                                            <div class="space"></div>

                                            <div class="clearfix">
                                                <button type="button" class="width-35 pull-right btn btn-sm btn-primary chpsd-submit">
                                                    <i class="ace-icon fa fa-key"></i>
                                                    <span class="bigger-110">確認更改</span>
                                                </button>
                                            </div>
                                            <div class="space-4"></div>
                                        </fieldset>
                                    </form>
                                    <div class="space-6"></div>
                                </div><!-- /.widget-main -->
                            </div><!-- /.widget-body -->
                        </div><!-- /.login-box -->
                    </div><!-- /.position-relative -->
                </div>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.main-content -->
</div><!-- /.main-container -->